# Importing Data from OANDA

## Connecting to the API

In [2]:
import pandas as pd
import tpqoa

In [3]:
api = tpqoa.tpqoa("oanda.cfg")


## Getting Historical Data - Currency

In [5]:
ticker = "US30_USD"
start = "2018-09-01"
end = "2019-09-01"

api.get_history(ticker, start, end, "D", "B")

                           o        h        l        c  volume  complete
time
2018-09-02 21:00:00  26017.9  26075.1  25956.4  26022.4    5839      True
2018-09-03 21:00:00  26019.4  26063.6  25813.8  25991.7   24644      True
2018-09-04 21:00:00  25988.5  26023.4  25839.5  25981.0   27660      True
2018-09-05 21:00:00  25969.4  26098.1  25892.8  26014.7  159482      True
2018-09-06 21:00:00  26006.2  26035.9  25831.3  25940.9  190600      True
...                      ...      ...      ...      ...     ...       ...
2019-08-25 21:00:00  25416.0  25977.0  25259.8  25918.0   84639      True
2019-08-26 21:00:00  25926.5  26061.5  25708.2  25758.6   58151      True
2019-08-27 21:00:00  25747.1  26039.1  25616.8  25987.1   52829      True
2019-08-28 21:00:00  25990.6  26402.7  25925.8  26358.0   42311      True
2019-08-29 21:00:00  26322.8  26554.3  26296.2  26393.1   43515      True

[259 rows x 6 columns]

In [5]:
api.get_history("EUR_USD", "2018-09-01", "2019-09-01", "D", "B")

                           o        h        l        c  volume  complete
time
2018-09-02 21:00:00  1.15955  1.16273  1.15886  1.16174   34705      True
2018-09-03 21:00:00  1.16168  1.16188  1.15296  1.15810   46399      True
2018-09-04 21:00:00  1.15776  1.16400  1.15422  1.16298   55753      True
2018-09-05 21:00:00  1.16298  1.16587  1.16045  1.16215   51070      True
2018-09-06 21:00:00  1.16203  1.16490  1.15491  1.15491   62733      True
...                      ...      ...      ...      ...     ...       ...
2019-08-25 21:00:00  1.11497  1.11632  1.10937  1.10952   25073      True
2019-08-26 21:00:00  1.10986  1.11154  1.10852  1.10892   14568      True
2019-08-27 21:00:00  1.10892  1.10975  1.10727  1.10768   13132      True
2019-08-28 21:00:00  1.10773  1.10912  1.10414  1.10556   15819      True
2019-08-29 21:00:00  1.10556  1.10597  1.09625  1.09855   17510      True

[258 rows x 6 columns]

In [ ]:
api.get_history("EUR_USD", "2018-09-01", "2019-09-01", "D", "A")

## Setting the Frequency (high-frequency Intraday)

In [6]:
api.get_history("EUR_USD", "2019-08-01", "2019-09-01", "M1", "B")

                           o        h        l        c  volume  complete
time
2019-08-01 00:00:00  1.10712  1.10713  1.10707  1.10713       8      True
2019-08-01 00:01:00  1.10710  1.10710  1.10696  1.10696      10      True
2019-08-01 00:02:00  1.10693  1.10707  1.10679  1.10681      22      True
2019-08-01 00:03:00  1.10684  1.10684  1.10671  1.10675      11      True
2019-08-01 00:04:00  1.10677  1.10677  1.10671  1.10674       4      True
...                      ...      ...      ...      ...     ...       ...
2019-08-30 20:55:00  1.09925  1.09935  1.09922  1.09935       8      True
2019-08-30 20:56:00  1.09934  1.09934  1.09886  1.09899      17      True
2019-08-30 20:57:00  1.09901  1.09901  1.09893  1.09893       3      True
2019-08-30 20:58:00  1.09884  1.09884  1.09856  1.09858       7      True
2019-08-30 20:59:00  1.09851  1.09855  1.09851  1.09855       3      True

[29142 rows x 6 columns]

In [7]:
api.get_history("EUR_USD", "2019-09-01", "2019-09-04", "S5", "B")

                           o        h        l        c  volume  complete
time
2019-09-01 21:00:00  1.09858  1.09858  1.09858  1.09858       1      True
2019-09-01 21:00:15  1.09861  1.09861  1.09861  1.09861       1      True
2019-09-01 21:00:35  1.09868  1.09886  1.09867  1.09886       3      True
2019-09-01 21:01:30  1.09888  1.09888  1.09888  1.09888       1      True
2019-09-01 21:01:40  1.09893  1.09893  1.09893  1.09893       1      True
...                      ...      ...      ...      ...     ...       ...
2019-09-03 23:55:40  1.09724  1.09724  1.09724  1.09724       1      True
2019-09-03 23:58:10  1.09721  1.09721  1.09721  1.09721       1      True
2019-09-03 23:58:30  1.09719  1.09722  1.09719  1.09722       2      True
2019-09-03 23:59:30  1.09719  1.09721  1.09719  1.09721       2      True
2019-09-04 00:00:00  1.09719  1.09719  1.09719  1.09719       1      True

[12461 rows x 6 columns]

In [ ]:
api.get_history("EUR_USD", "2019-09-01", "2019-09-04", "S30", "B")

## Streaming high-frequency real-time Data

In [8]:
api.stream_data('EUR_USD', stop=10)

TypeError: 'NoneType' object is not subscriptable

In [9]:
api.stop_stream()

TypeError: 'bool' object is not callable