# Stooq

## Table of Contents

* [Getting Started - Load Libraries and Dataset](#0)
* [Historical Price and Volume for 1 Stock](#1)

<a id='0'></a>
## Getting Started - Load Libraries and Dataset

In [2]:
import pandas as pd
import numpy as np
import pandas_datareader.data as web
from datetime import datetime

<a id='1'></a>
## Historical Price and Volume for 1 Stock

In [3]:
# adjust the variables below
ticker = 'SPY'
start = datetime(1990,1,1)
end = datetime(2020,1,1)

df = web.DataReader(ticker, 'stooq', start, end)
df

               Open     High      Low    Close    Volume
Date
2019-12-31  311.580  313.150  311.220  312.880  58745562
2019-12-30  313.940  314.090  311.600  312.130  51211140
2019-12-27  314.710  314.770  313.290  313.850  43775840
2019-12-26  312.670  313.940  312.660  313.930  31914361
2019-12-24  312.510  312.560  311.950  312.280  20851613
...             ...      ...      ...      ...       ...
2005-03-03   98.732   98.927   97.941   98.372  76529410
2005-03-02   97.999   98.947   97.892   98.333  79155581
2005-03-01   98.009   98.623   98.009   98.382  58623358
2005-02-28   98.313   98.441   97.402   97.872  85556312
2005-02-25   97.599   98.732   97.510   98.545  75386071

[3737 rows x 5 columns]