* [1. Problem Statement](#0)
* [2. Getting Started - Load Libraries and Dataset](#1)
    * [2.1. Load Libraries](#1.1)    
    * [2.2. Load Dataset](#1.2)

<a id='0'></a>
# 1. Problem Statement

Content:
    Stock
    Many stocks/Indices
    Crypto
    FX
    Mutual Funds
    Treasury Yields
    Ticket Object 
    Stock Fundamentals
    Finacial
    OPtions
    Real Time Data
    List of tickers available

https://blog.quantinsti.com/stock-market-data-analysis-python/

In [34]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf
from yahoofinancials import YahooFinancials
import datetime
import json

In [ ]:
Content:
    Stock
    Many stocks/Indices
    Crypto
    FX
    Mutual Funds
    Treasury Yields
    Ticket Object 
    Stock Fundamentals
    Finacial
    OPtions
    Real Time Data
    List of tickers available

### Single Ticker Example

In [29]:
# specify stock and create yf object
ticker = 'AAPL'
yahoo_financials = YahooFinancials(ticker)

# general info about stock
type_data = yahoo_financials.get_stock_quote_type_data()

# important stats (beta, price-to-book ratio, ...)
key_stats = yahoo_financials.get_key_statistics_data()

# balance sheet
balance_sheet_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'balance')

# income statement
income_statement_data_qt = yahoo_financials.get_financial_stmts('quarterly', 'income')

# all 3 financial statements
all_statement_data_qt =  yahoo_financials.get_financial_stmts('quarterly', ['income', 'cash', 'balance'])

# information on earnings
earnings_data = yahoo_financials.get_stock_earnings_data()

# net income
net_income = yahoo_financials.get_net_income()

# shares outstanding
shares_outstanding = yahoo_financials.get_num_shares_outstanding(price_type='current')

### Important ratios

In [ ]:
beta = yahoo_financials.get_beta()
payout = yahoo_financials.get_payout_ratio()
pe = yahoo_financials.get_pe_ratio()
ps = yahoo_financials.get_price_to_sales()
eps = yahoo_financials.get_earnings_per_share()

### Real time data

In [ ]:
current_price = yahoo_financials.get_current_price()
current_change = yahoo_financials.get_current_change()
current_percent_change = yahoo_financials.get_current_percent_change()
current_volume = yahoo_financials.get_current_volume()
prev_close_price = yahoo_financials.get_prev_close_price()
open_price = yahoo_financials.get_open_price()
ten_day_avg_daily_volume = yahoo_financials.get_ten_day_avg_daily_volume()
three_month_avg_daily_volume = yahoo_financials.get_three_month_avg_daily_volume()
market_cap = yahoo_financials.get_market_cap()
daily_low = yahoo_financials.get_daily_low()
daily_high = yahoo_financials.get_daily_high()
daily_dividend = yahoo_financials.get_daily_dividend_data('2008-09-15', '2018-09-15')

# stock prices (daily, weekly, monthly)
historical_stock_prices = yahoo_financials.get_historical_price_data('2008-09-15', '2018-09-18', 'monthly')

In [13]:
# convert to DataFrame
apple_df = pd.DataFrame(historical_stock_prices['AAPL']['prices'])
apple_df = apple_df.drop('date', axis=1).set_index('formatted_date')
apple_df.head()

                    high       low      open     close       volume  adjclose
formatted_date
2008-09-15      5.274643  4.310000  5.072500  5.032500   6428055200  4.314690
2008-09-22      5.008929  4.392857  4.997857  4.580000   5316589600  3.926732
2008-09-29      4.274286  3.380357  4.272143  3.466786   9448986400  2.972301
2008-10-06      3.625000  3.035714  3.284286  3.457143  10030613600  2.964035
2008-10-13      4.157143  3.067500  3.733929  3.478571   8846994800  2.982405

### Multiple tickers

In [7]:
tech_stocks = ['AAPL', 'MSFT', 'INTC']
bank_stocks = ['WFC', 'BAC', 'C']
commodity_futures = ['GC=F', 'SI=F', 'CL=F']
cryptocurrencies = ['BTC-USD', 'ETH-USD', 'XRP-USD']
currencies = ['EURUSD=X', 'JPY=X', 'GBPUSD=X']
mutual_funds = ['PRLAX', 'QASGX', 'HISFX']
us_treasuries = ['^TNX', '^IRX', '^TYX']

# create objects for specified tickers
yahoo_financials_tech = YahooFinancials(tech_stocks)
yahoo_financials_banks = YahooFinancials(bank_stocks)
yahoo_financials_commodities = YahooFinancials(commodity_futures)
yahoo_financials_cryptocurrencies = YahooFinancials(cryptocurrencies)
yahoo_financials_currencies = YahooFinancials(currencies)
yahoo_financials_mutualfunds = YahooFinancials(mutual_funds)
yahoo_financials_treasuries = YahooFinancials(us_treasuries)

# cash flows
tech_cash_flow_data_an = yahoo_financials_tech.get_financial_stmts('annual', 'cash')
bank_cash_flow_data_an = yahoo_financials_banks.get_financial_stmts('annual', 'cash')

# EBIT
banks_net_ebit = yahoo_financials_banks.get_ebit()

# historical prices for all tickers
tech_stock_price_data = yahoo_financials_tech.get_stock_price_data()
daily_bank_stock_prices = yahoo_financials_banks.get_historical_price_data('2008-09-15', '2018-09-15', 'daily')
daily_commodity_prices = yahoo_financials_commodities.get_historical_price_data('2008-09-15', '2018-09-15', 'daily')
daily_crypto_prices = yahoo_financials_cryptocurrencies.get_historical_price_data('2008-09-15', '2018-09-15', 'daily')
daily_currency_prices = yahoo_financials_currencies.get_historical_price_data('2008-09-15', '2018-09-15', 'daily')
daily_mutualfund_prices = yahoo_financials_mutualfunds.get_historical_price_data('2008-09-15', '2018-09-15', 'daily')
daily_treasury_prices = yahoo_financials_treasuries.get_historical_price_data('2008-09-15', '2018-09-15', 'daily')

In [50]:
crypto_tickers_df = pd.DataFrame(daily_crypto_prices)
crypto_tickers_df

,BTC-USD,ETH-USD,XRP-USD
eventsData,{},{},{}
firstTradeDate,"{'formatted_date': '2014-09-17', 'date': 14109...","{'formatted_date': '2015-08-07', 'date': 14389...","{'formatted_date': '2014-09-17', 'date': 14109..."
currency,USD,USD,USD
instrumentType,CRYPTOCURRENCY,CRYPTOCURRENCY,CRYPTOCURRENCY
timeZone,{'gmtOffset': 0},{'gmtOffset': 0},{'gmtOffset': 0}
prices,"[{'date': 1510185600, 'high': 7446.830078125, ...","[{'date': 1510185600, 'high': 329.451995849609...","[{'date': 1510185600, 'high': 0.22179099917411..."

In [27]:
btc_df = pd.DataFrame(daily_crypto_prices['BTC-USD']['prices'])
btc_df = btc_df.drop('date', axis=1).set_index('formatted_date')
btc_df.head()

,high,low,open,close,volume,adjclose
formatted_date,,,,,,
2017-11-09,7446.830078,7101.520020,7446.830078,7143.580078,3226249984,7143.580078
2017-11-10,7312.000000,6436.870117,7173.729980,6618.140137,5208249856,6618.140137
2017-11-11,6873.149902,6204.220215,6618.609863,6357.600098,4908680192,6357.600098
2017-11-12,6625.049805,5519.009766,6295.450195,5950.069824,8957349888,5950.069824
2017-11-13,6811.189941,5844.290039,5938.250000,6559.490234,6263249920,6559.490234

In [2]:
# specify the stock
ticker = 'HDFCBANK.NS'

In [3]:
yahoo_financials = YahooFinancials(ticker)
data = yahoo_financials.get_historical_price_data("2019-05-01","2020-05-01","daily")

In [4]:
type(data)

dict

### Extracting stock data (historical close price) for the stocks identified

In [23]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","HDFCBANK.NS","BAJFINANCE.NS"]

In [24]:
close_prices = pd.DataFrame()
end_date = (datetime.date.today()).strftime('%Y-%m-%d')
beg_date = (datetime.date.today()-datetime.timedelta(1825)).strftime('%Y-%m-%d')
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date,end_date,"daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date","adjclose"]]
    temp.set_index("formatted_date",inplace=True)
    temp.dropna(inplace=True)
    close_prices[ticker] = temp["adjclose"]

In [25]:
close_prices

,AAPL,MSFT,CSCO,AMZN,HDFCBANK.NS,BAJFINANCE.NS
formatted_date,,,,,,
2016-12-27,27.593674,58.836361,26.258574,771.400024,577.548279,801.727905
2016-12-28,27.476019,58.566719,26.036039,772.130005,578.303650,812.074463
2016-12-29,27.468956,58.483055,26.070276,765.150024,587.294373,825.094116
2016-12-30,27.254818,57.776417,25.864864,749.869995,587.781616,833.856506
2017-01-03,27.332474,58.185520,26.138750,753.669983,579.838745,875.242371
...,...,...,...,...,...,...
2021-12-17,171.139999,323.799988,60.459999,3400.350098,1473.050049,6901.100098
2021-12-20,169.750000,319.910004,60.360001,3341.580078,1425.650024,6634.149902
2021-12-21,172.990005,327.290009,61.029999,3408.340088,1441.800049,6577.549805
2021-12-22,175.639999,333.200012,61.529999,3420.739990,1445.199951,6771.200195
2021-12-23,176.279999,334.690002,62.279999,3421.370117,1444.099976,6917.750000

## Extracting stock data (OHLC) for the stocks identified

In [ ]:
ohlv_dict = {}
end_date = (datetime.date.today()).strftime('%Y-%m-%d')
beg_date = (datetime.date.today()-datetime.timedelta(1825)).strftime('%Y-%m-%d')
for ticker in all_tickers:
    yahoo_financials = YahooFinancials(ticker)
    json_obj = yahoo_financials.get_historical_price_data(beg_date,end_date,"daily")
    ohlv = json_obj[ticker]['prices']
    temp = pd.DataFrame(ohlv)[["formatted_date","adjclose","open","low","high","volume"]]
    temp.set_index("formatted_date",inplace=True)
    temp.dropna(inplace=True)
    ohlv_dict[ticker] = temp

In [ ]:
ohlv_dict['AAPL']