* [1. Problem Statement](#0)
* [2. Getting Started - Load Libraries and Dataset](#1)
    * [2.1. Load Libraries](#1.1)    
    * [2.2. Load Dataset](#1.2)

<a id='0'></a>
# 1. Problem Statement

link: https://github.com/RomelTorres/alpha_vantage

In [ ]:
https://medium.com/codex/alpha-vantage-an-introduction-to-a-highly-efficient-free-stock-api-6d17f4481bf

In [ ]:
Content:
    Stock
    Many stocks/Indices
    Crypto
    FX
    Finacial
    Real Time Data
    List of tickers available

In [1]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time
import requests
from io import BytesIO

In [2]:
# API Key
key = "AAUUBAYEDCI353AC"

### Historic Stock Price and Volume

In [27]:
ts = TimeSeries(key=key, output_format='pandas')
data = ts.get_daily(symbol='TSLA', outputsize='full')[0]
data.columns = ["open","high","low","close","volume"]
data = data.iloc[::-1]

In [4]:
data = {
    "function": "DIGITAL_CURRENCY_DAILY", # WEEKLY, MONTHLY possible
    "symbol": "ETH",
    "market": 'CNY',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Time Series (Digital Currency Daily)']).T.reset_index()
crypto_df = crypto_df.rename(columns={"index": "Date"})
crypto_df['Date'] = pd.to_datetime(crypto_df['Date'])
crypto_df

               open       high       low    close      volume
date
2010-06-29    19.00    25.0000   17.5400    23.89  18766300.0
2010-06-30    25.79    30.4192   23.3000    23.83  17187100.0
2010-07-01    25.00    25.9200   20.2700    21.96   8218800.0
2010-07-02    23.00    23.1000   18.7100    19.20   5139800.0
2010-07-06    20.00    20.0000   15.8300    16.11   6866900.0
...             ...        ...       ...      ...         ...
2021-12-17   914.77   960.6599  909.0401   932.57  33626754.0
2021-12-20   910.70   921.6884  893.3900   899.94  18826671.0
2021-12-21   916.87   939.5000  886.1200   938.53  23839305.0
2021-12-22   965.66  1015.6599  957.0500  1008.87  31211362.0
2021-12-23  1006.80  1072.9767  997.5600  1067.00  30904429.0

[2894 rows x 5 columns]

### Intraday Data

In [8]:
def get_intraday_data(symbol, interval):
    api_key = key
    api_url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval={interval}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    df = pd.DataFrame(raw_df[f'Time Series ({interval})']).T
    df = df.rename(columns = {'1. open': 'open', '2. high': 'high', '3. low': 'low', '4. close': 'close', '5. volume': 'volume'})
    for i in df.columns:
        df[i] = df[i].astype(float)
    df.index = pd.to_datetime(df.index)
    df = df.iloc[::-1]
    return df

tsla_intra = get_intraday_data('TSLA', '1min')
tsla_intra.tail()

                        open     high      low   close  volume
2021-12-23 19:56:00  1068.45  1068.90  1068.45  1068.5  2502.0
2021-12-23 19:57:00  1068.70  1068.70  1068.70  1068.7   855.0
2021-12-23 19:58:00  1069.00  1069.50  1069.00  1069.5  3332.0
2021-12-23 19:59:00  1069.20  1069.72  1069.05  1069.5  2642.0
2021-12-23 20:00:00  1069.00  1069.30  1069.00  1069.3  4489.0

### Realtime Data

In [15]:
def get_live_updates(symbol):
    api_key = key
    api_url = f'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={symbol}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    attributes = {'attributes':['symbol', 'open', 'high', 'low', 'price', 'volume', 'latest trading day', 'previous close', 'change', 'change percent']}
    attributes_df = pd.DataFrame(attributes)
    values = []
    for i in list(raw_df['Global Quote']):
        values.append(raw_df['Global Quote'][i])
    values_dict = {'values':values}
    values_df = pd.DataFrame(values).rename(columns = {0:'values'})
    frames = [attributes_df, values_df]
    df = pd.concat(frames, axis = 1, join = 'inner').set_index('attributes')
    return df

ibm_updates = get_live_updates('IBM')
ibm_updates

                        values
attributes
symbol                     IBM
open                  130.0000
high                  130.9600
low                   129.5200
price                 130.6300
volume                 3649044
latest trading day  2021-12-23
previous close        129.7500
change                  0.8800
change percent         0.6782%

### Earnings Information

In [14]:
BASE_URL = r"https://www.alphavantage.co/query?"

def earnings_calendar_api(api_key, horizon, symbol=None):
    if symbol is not None:
        url = f'{BASE_URL}function=EARNINGS_CALENDAR&symbol={symbol}&horizon={horizon}&apikey={api_key}'
        response = requests.get(url)
    else:
        url = f"{BASE_URL}function=EARNINGS_CALENDAR&horizon={horizon}&apikey={api_key}"
        response = requests.get(url)

    return pd.read_csv(BytesIO(response.content))

api_key = key
horizon=["3month","6month","12month"]
earnings_calendar_api(api_key,horizon[0])

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2022-02-14,2022-01-31,1.17,USD
1,AA,Alcoa Corp,2022-01-18,2021-12-31,1.77,USD
2,AADI,Aadi Bioscience Inc,2022-03-09,2021-12-31,-1.06,USD
3,AAIC,Arlington Asset Investment Corp - Class A,2022-02-14,2021-12-31,0.06,USD
4,AAL,American Airlines Group Inc,2022-01-26,2021-12-31,-1.79,USD
...,...,...,...,...,...,...
4788,ZUO,Zuora Inc - Class A,2022-03-09,2022-01-31,-0.02,USD
4789,ZVO,Zovio Inc,2022-02-22,2021-12-31,-0.11,USD
4790,ZYME,Zymeworks Inc,2022-02-22,2021-12-31,-1.18,USD
4791,ZYNE,Zynerba Pharmaceuticals Inc,2022-03-08,2021-12-31,-0.26,USD
4792,ZYXI,Zynex Inc,2022-02-23,2021-12-31,0.19,USD

### Dividends

In [27]:
ticker = "IBM"
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()
dividends = pd.DataFrame(data, index = ['Values'])
dividends = dividends[['DividendPerShare', 'DividendYield', 'DividendDate', 'ExDividendDate']].T
data

{'Symbol': 'IBM',
 'AssetType': 'Common Stock',
 'Name': 'International Business Machines Corporation',
 'Description': 'International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company (CTR) and was renamed International Business Machines in 1924. IBM is incorporated in New York. IBM produces and sells computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. IBM is also a major research organization, holding the record for most annual U.S. patents generated by a business (as of 2020) for 28 consecutive years. Inventions by IBM include the automated teller machine (ATM), the floppy disk, the hard disk drive, the magnetic stripe card, the relational database, the SQL programming language, the UPC barcode, and dynamic random-access memory (DRAM). The IBM mainframe, exemplified by the System/360, was the dominant computing platform during the 1960s and 1970s.',
 'CIK': '51143',
 'Exchange': 'NYSE',
 'Currency': 'USD',
 'Country': 'USA',
 'Sector': 'TECHNOLOGY',
 'Industry': 'COMPUTER & OFFICE EQUIPMENT',
 'Address': '1 NEW ORCHARD ROAD, ARMONK, NY, US',
 'FiscalYearEnd': 'December',
 'LatestQuarter': '2021-09-30',
 'MarketCapitalization': '123710087000',
 'EBITDA': '15659000000',
 'PERatio': '26.13',
 'PEGRatio': '2.154',
 'BookValue': '24.79',
 'DividendPerShare': '6.54',
 'DividendYield': '0.0482',
 'EPS': '5.28',
 'RevenuePerShareTTM': '83.23',
 'ProfitMargin': '0.064',
 'OperatingMarginTTM': '0.12',
 'ReturnOnAssetsTTM': '0.0374',
 'ReturnOnEquityTTM': '0.214',
 'RevenueTTM': '74461004000',
 'GrossProfitTTM': '35575000000',
 'DilutedEPSTTM': '5.28',
 'QuarterlyEarningsGrowthYOY': '-0.338',
 'QuarterlyRevenueGrowthYOY': '0.003',
 'AnalystTargetPrice': '145.17',
 'TrailingPE': '26.13',
 'ForwardPE': '10.86',
 'PriceToSalesRatioTTM': '1.661',
 'PriceToBookRatio': '5.01',
 'EVToRevenue': '2.178',
 'EVToEBITDA': '12.51',
 'Beta': '1.104',
 '52WeekHigh': '142.43',
 '52WeekLow': '106.73',
 '50DayMovingAverage': '122.65',
 '200DayMovingAverage': '131.76',
 'SharesOutstanding': '896320000',
 'DividendDate': '2021-12-10',
 'ExDividendDate': '2021-11-09'}

### Indices

In [23]:
index = "DJI" # FCHI, IXIC, ...
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol='+index+'&outputsize=full&apikey={key}'
r = requests.get(url)
data = r.json()

{'Global Quote': {}}

### Currency Exchange

In [25]:
# Currency list: https://www.alphavantage.co/physical_currency_list/
currency_a = 'EUR'
currency_b = 'USD'
interval = '5min' # 1min, 5min, 15min, 30min, 60min
url = 'https://www.alphavantage.co/query?function=FX_INTRADAY&from_symbol=EUR&to_symbol=USD&interval=5min&apikey=demo'
r = requests.get(url)
data = r.json()

{'Meta Data': {'1. Information': 'FX Intraday (5min) Time Series',
  '2. From Symbol': 'EUR',
  '3. To Symbol': 'USD',
  '4. Last Refreshed': '2022-01-05 17:15:00',
  '5. Interval': '5min',
  '6. Output Size': 'Compact',
  '7. Time Zone': 'UTC'},
 'Time Series FX (5min)': {'2022-01-05 17:15:00': {'1. open': '1.13372',
   '2. high': '1.13378',
   '3. low': '1.13350',
   '4. close': '1.13350'},
  '2022-01-05 17:10:00': {'1. open': '1.13368',
   '2. high': '1.13392',
   '3. low': '1.13340',
   '4. close': '1.13375'},
  '2022-01-05 17:05:00': {'1. open': '1.13341',
   '2. high': '1.13375',
   '3. low': '1.13310',
   '4. close': '1.13350'},
  '2022-01-05 17:00:00': {'1. open': '1.13300',
   '2. high': '1.13347',
   '3. low': '1.13280',
   '4. close': '1.13342'},
  '2022-01-05 16:55:00': {'1. open': '1.13327',
   '2. high': '1.13334',
   '3. low': '1.13280',
   '4. close': '1.13298'},
  '2022-01-05 16:50:00': {'1. open': '1.13317',
   '2. high': '1.13327',
   '3. low': '1.13270',
   '4. close': '1.13325'},
  '2022-01-05 16:45:00': {'1. open': '1.13270',
   '2. high': '1.13324',
   '3. low': '1.13270',
   '4. close': '1.13319'},
  '2022-01-05 16:40:00': {'1. open': '1.13276',
   '2. high': '1.13323',
   '3. low': '1.13260',
   '4. close': '1.13294'},
  '2022-01-05 16:35:00': {'1. open': '1.13266',
   '2. high': '1.13282',
   '3. low': '1.13230',
   '4. close': '1.13279'},
  '2022-01-05 16:30:00': {'1. open': '1.13264',
   '2. high': '1.13270',
   '3. low': '1.13210',
   '4. close': '1.13263'},
  '2022-01-05 16:25:00': {'1. open': '1.13332',
   '2. high': '1.13337',
   '3. low': '1.13240',
   '4. close': '1.13264'},
  '2022-01-05 16:20:00': {'1. open': '1.13382',
   '2. high': '1.13388',
   '3. low': '1.13320',
   '4. close': '1.13332'},
  '2022-01-05 16:15:00': {'1. open': '1.13387',
   '2. high': '1.13396',
   '3. low': '1.13360',
   '4. close': '1.13381'},
  '2022-01-05 16:10:00': {'1. open': '1.13364',
   '2. high': '1.13392',
   '3. low': '1.13350',
   '4. close': '1.13387'},
  '2022-01-05 16:05:00': {'1. open': '1.13369',
   '2. high': '1.13373',
   '3. low': '1.13320',
   '4. close': '1.13364'},
  '2022-01-05 16:00:00': {'1. open': '1.13367',
   '2. high': '1.13382',
   '3. low': '1.13320',
   '4. close': '1.13369'},
  '2022-01-05 15:55:00': {'1. open': '1.13354',
   '2. high': '1.13381',
   '3. low': '1.13300',
   '4. close': '1.13369'},
  '2022-01-05 15:50:00': {'1. open': '1.13360',
   '2. high': '1.13394',
   '3. low': '1.13330',
   '4. close': '1.13355'},
  '2022-01-05 15:45:00': {'1. open': '1.13330',
   '2. high': '1.13378',
   '3. low': '1.13310',
   '4. close': '1.13360'},
  '2022-01-05 15:40:00': {'1. open': '1.13342',
   '2. high': '1.13357',
   '3. low': '1.13310',
   '4. close': '1.13328'},
  '2022-01-05 15:35:00': {'1. open': '1.13367',
   '2. high': '1.13383',
   '3. low': '1.13320',
   '4. close': '1.13340'},
  '2022-01-05 15:30:00': {'1. open': '1.13421',
   '2. high': '1.13425',
   '3. low': '1.13340',
   '4. close': '1.13373'},
  '2022-01-05 15:25:00': {'1. open': '1.13439',
   '2. high': '1.13439',
   '3. low': '1.13390',
   '4. close': '1.13410'},
  '2022-01-05 15:20:00': {'1. open': '1.13432',
   '2. high': '1.13441',
   '3. low': '1.13390',
   '4. close': '1.13430'},
  '2022-01-05 15:15:00': {'1. open': '1.13390',
   '2. high': '1.13440',
   '3. low': '1.13370',
   '4. close': '1.13431'},
  '2022-01-05 15:10:00': {'1. open': '1.13437',
   '2. high': '1.13440',
   '3. low': '1.13380',
   '4. close': '1.13403'},
  '2022-01-05 15:05:00': {'1. open': '1.13357',
   '2. high': '1.13437',
   '3. low': '1.13340',
   '4. close': '1.13430'},
  '2022-01-05 15:00:00': {'1. open': '1.13376',
   '2. high': '1.13378',
   '3. low': '1.13310',
   '4. close': '1.13357'},
  '2022-01-05 14:55:00': {'1. open': '1.13376',
   '2. high': '1.13387',
   '3. low': '1.13340',
   '4. close': '1.13377'},
  '2022-01-05 14:50:00': {'1. open': '1.13321',
   '2. high': '1.13381',
   '3. low': '1.13300',
   '4. close': '1.13375'},
  '2022-01-05 14:45:00': {'1. open': '1.13329',
   '2. high': '1.13343',
   '3. low': '1.13300',
   '4. close': '1.13321'},
  '2022-01-05 14:40:00': {'1. open': '1.13331',
   '2. high': '1.13348',
   '3. low': '1.13290',
   '4. close': '1.13330'},
  '2022-01-05 14:35:00': {'1. open': '1.13354',
   '2. high': '1.13378',
   '3. low': '1.13310',
   '4. close': '1.13335'},
  '2022-01-05 14:30:00': {'1. open': '1.13347',
   '2. high': '1.13367',
   '3. low': '1.13320',
   '4. close': '1.13353'},
  '2022-01-05 14:25:00': {'1. open': '1.13298',
   '2. high': '1.13360',
   '3. low': '1.13280',
   '4. close': '1.13340'},
  '2022-01-05 14:20:00': {'1. open': '1.13259',
   '2. high': '1.13301',
   '3. low': '1.13230',
   '4. close': '1.13298'},
  '2022-01-05 14:15:00': {'1. open': '1.13268',
   '2. high': '1.13289',
   '3. low': '1.13240',
   '4. close': '1.13260'},
  '2022-01-05 14:10:00': {'1. open': '1.13300',
   '2. high': '1.13303',
   '3. low': '1.13250',
   '4. close': '1.13267'},
  '2022-01-05 14:05:00': {'1. open': '1.13238',
   '2. high': '1.13303',
   '3. low': '1.13190',
   '4. close': '1.13290'},
  '2022-01-05 14:00:00': {'1. open': '1.13245',
   '2. high': '1.13247',
   '3. low': '1.13190',
   '4. close': '1.13220'},
  '2022-01-05 13:55:00': {'1. open': '1.13281',
   '2. high': '1.13286',
   '3. low': '1.13230',
   '4. close': '1.13244'},
  '2022-01-05 13:50:00': {'1. open': '1.13223',
   '2. high': '1.13288',
   '3. low': '1.13190',
   '4. close': '1.13260'},
  '2022-01-05 13:45:00': {'1. open': '1.13161',
   '2. high': '1.13227',
   '3. low': '1.13120',
   '4. close': '1.13220'},
  '2022-01-05 13:40:00': {'1. open': '1.13095',
   '2. high': '1.13167',
   '3. low': '1.13080',
   '4. close': '1.13157'},
  '2022-01-05 13:35:00': {'1. open': '1.13082',
   '2. high': '1.13143',
   '3. low': '1.13050',
   '4. close': '1.13099'},
  '2022-01-05 13:30:00': {'1. open': '1.13090',
   '2. high': '1.13108',
   '3. low': '1.13030',
   '4. close': '1.13082'},
  '2022-01-05 13:25:00': {'1. open': '1.13089',
   '2. high': '1.13099',
   '3. low': '1.13020',
   '4. close': '1.13070'},
  '2022-01-05 13:20:00': {'1. open': '1.13180',
   '2. high': '1.13183',
   '3. low': '1.13010',
   '4. close': '1.13092'},
  '2022-01-05 13:15:00': {'1. open': '1.13102',
   '2. high': '1.13184',
   '3. low': '1.13080',
   '4. close': '1.13175'},
  '2022-01-05 13:10:00': {'1. open': '1.13115',
   '2. high': '1.13122',
   '3. low': '1.13040',
   '4. close': '1.13101'},
  '2022-01-05 13:05:00': {'1. open': '1.13075',
   '2. high': '1.13134',
   '3. low': '1.13050',
   '4. close': '1.13116'},
  '2022-01-05 13:00:00': {'1. open': '1.13076',
   '2. high': '1.13078',
   '3. low': '1.13030',
   '4. close': '1.13078'},
  '2022-01-05 12:55:00': {'1. open': '1.13065',
   '2. high': '1.13094',
   '3. low': '1.13050',
   '4. close': '1.13074'},
  '2022-01-05 12:50:00': {'1. open': '1.13090',
   '2. high': '1.13109',
   '3. low': '1.13050',
   '4. close': '1.13069'},
  '2022-01-05 12:45:00': {'1. open': '1.13080',
   '2. high': '1.13126',
   '3. low': '1.13060',
   '4. close': '1.13100'},
  '2022-01-05 12:40:00': {'1. open': '1.13130',
   '2. high': '1.13141',
   '3. low': '1.13060',
   '4. close': '1.13060'},
  '2022-01-05 12:35:00': {'1. open': '1.13161',
   '2. high': '1.13176',
   '3. low': '1.13110',
   '4. close': '1.13132'},
  '2022-01-05 12:30:00': {'1. open': '1.13173',
   '2. high': '1.13174',
   '3. low': '1.13140',
   '4. close': '1.13157'},
  '2022-01-05 12:25:00': {'1. open': '1.13186',
   '2. high': '1.13238',
   '3. low': '1.13150',
   '4. close': '1.13171'},
  '2022-01-05 12:20:00': {'1. open': '1.13162',
   '2. high': '1.13261',
   '3. low': '1.13100',
   '4. close': '1.13186'},
  '2022-01-05 12:15:00': {'1. open': '1.13155',
   '2. high': '1.13202',
   '3. low': '1.13140',
   '4. close': '1.13140'},
  '2022-01-05 12:10:00': {'1. open': '1.13172',
   '2. high': '1.13185',
   '3. low': '1.13130',
   '4. close': '1.13153'},
  '2022-01-05 12:05:00': {'1. open': '1.13189',
   '2. high': '1.13204',
   '3. low': '1.13150',
   '4. close': '1.13175'},
  '2022-01-05 12:00:00': {'1. open': '1.13191',
   '2. high': '1.13200',
   '3. low': '1.13150',
   '4. close': '1.13180'},
  '2022-01-05 11:55:00': {'1. open': '1.13205',
   '2. high': '1.13220',
   '3. low': '1.13170',
   '4. close': '1.13180'},
  '2022-01-05 11:50:00': {'1. open': '1.13186',
   '2. high': '1.13221',
   '3. low': '1.13150',
   '4. close': '1.13190'},
  '2022-01-05 11:45:00': {'1. open': '1.13204',
   '2. high': '1.13230',
   '3. low': '1.13170',
   '4. close': '1.13190'},
  '2022-01-05 11:40:00': {'1. open': '1.13195',
   '2. high': '1.13240',
   '3. low': '1.13160',
   '4. close': '1.13190'},
  '2022-01-05 11:35:00': {'1. open': '1.13175',
   '2. high': '1.13209',
   '3. low': '1.13150',
   '4. close': '1.13193'},
  '2022-01-05 11:30:00': {'1. open': '1.13164',
   '2. high': '1.13189',
   '3. low': '1.13150',
   '4. close': '1.13170'},
  '2022-01-05 11:25:00': {'1. open': '1.13152',
   '2. high': '1.13181',
   '3. low': '1.13140',
   '4. close': '1.13162'},
  '2022-01-05 11:20:00': {'1. open': '1.13145',
   '2. high': '1.13185',
   '3. low': '1.13130',
   '4. close': '1.13150'},
  '2022-01-05 11:15:00': {'1. open': '1.13125',
   '2. high': '1.13169',
   '3. low': '1.13110',
   '4. close': '1.13140'},
  '2022-01-05 11:10:00': {'1. open': '1.13079',
   '2. high': '1.13141',
   '3. low': '1.13060',
   '4. close': '1.13110'},
  '2022-01-05 11:05:00': {'1. open': '1.13081',
   '2. high': '1.13085',
   '3. low': '1.13050',
   '4. close': '1.13080'},
  '2022-01-05 11:00:00': {'1. open': '1.13080',
   '2. high': '1.13090',
   '3. low': '1.13030',
   '4. close': '1.13079'},
  '2022-01-05 10:55:00': {'1. open': '1.13115',
   '2. high': '1.13115',
   '3. low': '1.13050',
   '4. close': '1.13087'},
  '2022-01-05 10:50:00': {'1. open': '1.13110',
   '2. high': '1.13140',
   '3. low': '1.13080',
   '4. close': '1.13113'},
  '2022-01-05 10:45:00': {'1. open': '1.13086',
   '2. high': '1.13116',
   '3. low': '1.13050',
   '4. close': '1.13090'},
  '2022-01-05 10:40:00': {'1. open': '1.13120',
   '2. high': '1.13126',
   '3. low': '1.13070',
   '4. close': '1.13070'},
  '2022-01-05 10:35:00': {'1. open': '1.13130',
   '2. high': '1.13141',
   '3. low': '1.13090',
   '4. close': '1.13110'},
  '2022-01-05 10:30:00': {'1. open': '1.13087',
   '2. high': '1.13132',
   '3. low': '1.13080',
   '4. close': '1.13131'},
  '2022-01-05 10:25:00': {'1. open': '1.13134',
   '2. high': '1.13140',
   '3. low': '1.13070',
   '4. close': '1.13086'},
  '2022-01-05 10:20:00': {'1. open': '1.13094',
   '2. high': '1.13138',
   '3. low': '1.13070',
   '4. close': '1.13134'},
  '2022-01-05 10:15:00': {'1. open': '1.13119',
   '2. high': '1.13123',
   '3. low': '1.13080',
   '4. close': '1.13094'},
  '2022-01-05 10:10:00': {'1. open': '1.13070',
   '2. high': '1.13138',
   '3. low': '1.13060',
   '4. close': '1.13117'},
  '2022-01-05 10:05:00': {'1. open': '1.13061',
   '2. high': '1.13085',
   '3. low': '1.13020',
   '4. close': '1.13084'},
  '2022-01-05 10:00:00': {'1. open': '1.13047',
   '2. high': '1.13068',
   '3. low': '1.13020',
   '4. close': '1.13059'},
  '2022-01-05 09:55:00': {'1. open': '1.13051',
   '2. high': '1.13088',
   '3. low': '1.13020',
   '4. close': '1.13030'},
  '2022-01-05 09:50:00': {'1. open': '1.13003',
   '2. high': '1.13052',
   '3. low': '1.12990',
   '4. close': '1.13048'},
  '2022-01-05 09:45:00': {'1. open': '1.13035',
   '2. high': '1.13046',
   '3. low': '1.12980',
   '4. close': '1.12990'},
  '2022-01-05 09:40:00': {'1. open': '1.13041',
   '2. high': '1.13055',
   '3. low': '1.13000',
   '4. close': '1.13035'},
  '2022-01-05 09:35:00': {'1. open': '1.13015',
   '2. high': '1.13054',
   '3. low': '1.12990',
   '4. close': '1.13041'},
  '2022-01-05 09:30:00': {'1. open': '1.13048',
   '2. high': '1.13050',
   '3. low': '1.12990',
   '4. close': '1.13000'},
  '2022-01-05 09:25:00': {'1. open': '1.13029',
   '2. high': '1.13051',
   '3. low': '1.12990',
   '4. close': '1.13047'},
  '2022-01-05 09:20:00': {'1. open': '1.13036',
   '2. high': '1.13058',
   '3. low': '1.12990',
   '4. close': '1.13031'},
  '2022-01-05 09:15:00': {'1. open': '1.13048',
   '2. high': '1.13055',
   '3. low': '1.12990',
   '4. close': '1.13035'},
  '2022-01-05 09:10:00': {'1. open': '1.13030',
   '2. high': '1.13071',
   '3. low': '1.13000',
   '4. close': '1.13050'},
  '2022-01-05 09:05:00': {'1. open': '1.13029',
   '2. high': '1.13045',
   '3. low': '1.12990',
   '4. close': '1.13038'},
  '2022-01-05 09:00:00': {'1. open': '1.13027',
   '2. high': '1.13057',
   '3. low': '1.12990',
   '4. close': '1.13028'}}}

In [ ]:
data = {
    "function": "CURRENCY_EXCHANGE_RATE", # WEEKLY, MONTHLY possible
    "from_currency": "ETH",
    "to_currency": 'USD',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Realtime Currency Exchange Rate'], index=[0]).T
crypto_df

### Mutual Funds

In [31]:
ticker = 'OMOIX'
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()
data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'OMOIX',
  '3. Last Refreshed': '2022-01-03',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2022-01-03': {'1. open': '26.2200',
   '2. high': '26.2200',
   '3. low': '26.2200',
   '4. close': '26.2200',
   '5. volume': '0'},
  '2021-12-31': {'1. open': '26.1900',
   '2. high': '26.1900',
   '3. low': '26.1900',
   '4. close': '26.1900',
   '5. volume': '0'},
  '2021-12-30': {'1. open': '26.1600',
   '2. high': '26.1600',
   '3. low': '26.1600',
   '4. close': '26.1600',
   '5. volume': '0'},
  '2021-12-29': {'1. open': '26.1400',
   '2. high': '26.1400',
   '3. low': '26.1400',
   '4. close': '26.1400',
   '5. volume': '0'},
  '2021-12-28': {'1. open': '26.4600',
   '2. high': '26.4600',
   '3. low': '26.4600',
   '4. close': '26.4600',
   '5. volume': '0'},
  '2021-12-27': {'1. open': '26.4700',
   '2. high': '26.4700',
   '3. low': '26.4700',
   '4. close': '26.4700',
   '5. volume': '0'},
  '2021-12-23': {'1. open': '26.4800',
   '2. high': '26.4800',
   '3. low': '26.4800',
   '4. close': '26.4800',
   '5. volume': '0'},
  '2021-12-22': {'1. open': '26.4400',
   '2. high': '26.4400',
   '3. low': '26.4400',
   '4. close': '26.4400',
   '5. volume': '0'},
  '2021-12-21': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-12-20': {'1. open': '26.3500',
   '2. high': '26.3500',
   '3. low': '26.3500',
   '4. close': '26.3500',
   '5. volume': '0'},
  '2021-12-17': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-12-16': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-15': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-12-14': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-12-13': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-10': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-12-09': {'1. open': '26.4200',
   '2. high': '26.4200',
   '3. low': '26.4200',
   '4. close': '26.4200',
   '5. volume': '0'},
  '2021-12-08': {'1. open': '26.4300',
   '2. high': '26.4300',
   '3. low': '26.4300',
   '4. close': '26.4300',
   '5. volume': '0'},
  '2021-12-07': {'1. open': '26.4200',
   '2. high': '26.4200',
   '3. low': '26.4200',
   '4. close': '26.4200',
   '5. volume': '0'},
  '2021-12-06': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-12-03': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-02': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-12-01': {'1. open': '26.4300',
   '2. high': '26.4300',
   '3. low': '26.4300',
   '4. close': '26.4300',
   '5. volume': '0'},
  '2021-11-30': {'1. open': '26.4500',
   '2. high': '26.4500',
   '3. low': '26.4500',
   '4. close': '26.4500',
   '5. volume': '0'},
  '2021-11-29': {'1. open': '26.5100',
   '2. high': '26.5100',
   '3. low': '26.5100',
   '4. close': '26.5100',
   '5. volume': '0'},
  '2021-11-26': {'1. open': '26.4900',
   '2. high': '26.4900',
   '3. low': '26.4900',
   '4. close': '26.4900',
   '5. volume': '0'},
  '2021-11-24': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-11-23': {'1. open': '26.5200',
   '2. high': '26.5200',
   '3. low': '26.5200',
   '4. close': '26.5200',
   '5. volume': '0'},
  '2021-11-22': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-11-19': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-11-18': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-17': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-11-16': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-15': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-12': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-11': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-11-10': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-09': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-08': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-11-05': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-04': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-03': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-11-02': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-01': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-10-29': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-10-28': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-10-27': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-10-26': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-10-25': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-10-22': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-10-21': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-10-20': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-10-19': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-10-18': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-10-15': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-10-14': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-10-13': {'1. open': '26.5100',
   '2. high': '26.5100',
   '3. low': '26.5100',
   '4. close': '26.5100',
   '5. volume': '0'},
  '2021-10-12': {'1. open': '26.4900',
   '2. high': '26.4900',
   '3. low': '26.4900',
   '4. close': '26.4900',
   '5. volume': '0'},
  '2021-10-11': {'1. open': '26.4700',
   '2. high': '26.4700',
   '3. low': '26.4700',
   '4. close': '26.4700',
   '5. volume': '0'},
  '2021-10-08': {'1. open': '26.4500',
   '2. high': '26.4500',
   '3. low': '26.4500',
   '4. close': '26.4500',
   '5. volume': '0'},
  '2021-10-07': {'1. open': '26.4400',
   '2. high': '26.4400',
   '3. low': '26.4400',
   '4. close': '26.4400',
   '5. volume': '0'},
  '2021-10-06': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-10-05': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-10-04': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-10-01': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-09-30': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-09-29': {'1. open': '26.3700',
   '2. high': '26.3700',
   '3. low': '26.3700',
   '4. close': '26.3700',
   '5. volume': '0'},
  '2021-09-28': {'1. open': '26.3500',
   '2. high': '26.3500',
   '3. low': '26.3500',
   '4. close': '26.3500',
   '5. volume': '0'},
  '2021-09-27': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-09-24': {'1. open': '26.3700',
   '2. high': '26.3700',
   '3. low': '26.3700',
   '4. close': '26.3700',
   '5. volume': '0'},
  '2021-09-23': {'1. open': '26.7200',
   '2. high': '26.7200',
   '3. low': '26.7200',
   '4. close': '26.7200',
   '5. volume': '0'},
  '2021-09-22': {'1. open': '26.7200',
   '2. high': '26.7200',
   '3. low': '26.7200',
   '4. close': '26.7200',
   '5. volume': '0'},
  '2021-09-21': {'1. open': '26.6800',
   '2. high': '26.6800',
   '3. low': '26.6800',
   '4. close': '26.6800',
   '5. volume': '0'},
  '2021-09-20': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-09-17': {'1. open': '26.6900',
   '2. high': '26.6900',
   '3. low': '26.6900',
   '4. close': '26.6900',
   '5. volume': '0'},
  '2021-09-16': {'1. open': '26.7000',
   '2. high': '26.7000',
   '3. low': '26.7000',
   '4. close': '26.7000',
   '5. volume': '0'},
  '2021-09-15': {'1. open': '26.7100',
   '2. high': '26.7100',
   '3. low': '26.7100',
   '4. close': '26.7100',
   '5. volume': '0'},
  '2021-09-14': {'1. open': '26.6900',
   '2. high': '26.6900',
   '3. low': '26.6900',
   '4. close': '26.6900',
   '5. volume': '0'},
  '2021-09-13': {'1. open': '26.6700',
   '2. high': '26.6700',
   '3. low': '26.6700',
   '4. close': '26.6700',
   '5. volume': '0'},
  '2021-09-10': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-09': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-08': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-07': {'1. open': '26.6400',
   '2. high': '26.6400',
   '3. low': '26.6400',
   '4. close': '26.6400',
   '5. volume': '0'},
  '2021-09-03': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-09-02': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-09-01': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-08-31': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-08-30': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-27': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-26': {'1. open': '26.5800',
   '2. high': '26.5800',
   '3. low': '26.5800',
   '4. close': '26.5800',
   '5. volume': '0'},
  '2021-08-25': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-24': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-08-23': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-08-20': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-08-19': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-08-18': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-08-17': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-08-16': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-13': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-08-12': {'1. open': '26.5800',
   '2. high': '26.5800',
   '3. low': '26.5800',
   '4. close': '26.5800',
   '5. volume': '0'}}}

## Cryptocurrencies

In [26]:
ticker = 'ETH'
url = 'https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol='+ticker+'&market=USD&interval=5min&apikey={key}'
r = requests.get(url)
data = r.json()
data

{'Meta Data': {'1. Information': 'Crypto Intraday (5min) Time Series',
  '2. Digital Currency Code': 'ETH',
  '3. Digital Currency Name': 'Ethereum',
  '4. Market Code': 'USD',
  '5. Market Name': 'United States Dollar',
  '6. Last Refreshed': '2022-01-05 17:10:00',
  '7. Interval': '5min',
  '8. Output Size': 'Compact',
  '9. Time Zone': 'UTC'},
 'Time Series Crypto (5min)': {'2022-01-05 17:10:00': {'1. open': '3801.83000',
   '2. high': '3804.23000',
   '3. low': '3801.82000',
   '4. close': '3803.78000',
   '5. volume': 214},
  '2022-01-05 17:05:00': {'1. open': '3800.40000',
   '2. high': '3804.00000',
   '3. low': '3798.84000',
   '4. close': '3801.83000',
   '5. volume': 397},
  '2022-01-05 17:00:00': {'1. open': '3792.87000',
   '2. high': '3803.70000',
   '3. low': '3791.02000',
   '4. close': '3800.40000',
   '5. volume': 810},
  '2022-01-05 16:55:00': {'1. open': '3792.72000',
   '2. high': '3795.53000',
   '3. low': '3790.88000',
   '4. close': '3792.88000',
   '5. volume': 416},
  '2022-01-05 16:50:00': {'1. open': '3792.50000',
   '2. high': '3797.42000',
   '3. low': '3791.41000',
   '4. close': '3792.71000',
   '5. volume': 646},
  '2022-01-05 16:45:00': {'1. open': '3796.24000',
   '2. high': '3796.25000',
   '3. low': '3790.13000',
   '4. close': '3792.50000',
   '5. volume': 989},
  '2022-01-05 16:40:00': {'1. open': '3802.98000',
   '2. high': '3803.98000',
   '3. low': '3795.25000',
   '4. close': '3796.25000',
   '5. volume': 648},
  '2022-01-05 16:35:00': {'1. open': '3809.44000',
   '2. high': '3809.45000',
   '3. low': '3801.26000',
   '4. close': '3802.98000',
   '5. volume': 534},
  '2022-01-05 16:30:00': {'1. open': '3819.75000',
   '2. high': '3819.78000',
   '3. low': '3808.40000',
   '4. close': '3809.44000',
   '5. volume': 523},
  '2022-01-05 16:25:00': {'1. open': '3813.91000',
   '2. high': '3820.39000',
   '3. low': '3813.90000',
   '4. close': '3819.76000',
   '5. volume': 1073},
  '2022-01-05 16:20:00': {'1. open': '3809.11000',
   '2. high': '3818.00000',
   '3. low': '3805.99000',
   '4. close': '3813.90000',
   '5. volume': 599},
  '2022-01-05 16:15:00': {'1. open': '3809.73000',
   '2. high': '3811.84000',
   '3. low': '3807.65000',
   '4. close': '3809.12000',
   '5. volume': 783},
  '2022-01-05 16:10:00': {'1. open': '3807.52000',
   '2. high': '3810.89000',
   '3. low': '3800.03000',
   '4. close': '3809.73000',
   '5. volume': 854},
  '2022-01-05 16:05:00': {'1. open': '3814.66000',
   '2. high': '3814.67000',
   '3. low': '3806.00000',
   '4. close': '3807.52000',
   '5. volume': 787},
  '2022-01-05 16:00:00': {'1. open': '3820.97000',
   '2. high': '3823.33000',
   '3. low': '3814.17000',
   '4. close': '3814.67000',
   '5. volume': 911},
  '2022-01-05 15:55:00': {'1. open': '3821.07000',
   '2. high': '3822.42000',
   '3. low': '3819.86000',
   '4. close': '3820.97000',
   '5. volume': 617},
  '2022-01-05 15:50:00': {'1. open': '3813.46000',
   '2. high': '3822.24000',
   '3. low': '3812.60000',
   '4. close': '3821.06000',
   '5. volume': 618},
  '2022-01-05 15:45:00': {'1. open': '3814.45000',
   '2. high': '3815.69000',
   '3. low': '3804.27000',
   '4. close': '3813.45000',
   '5. volume': 583},
  '2022-01-05 15:40:00': {'1. open': '3809.46000',
   '2. high': '3815.17000',
   '3. low': '3807.88000',
   '4. close': '3814.45000',
   '5. volume': 544},
  '2022-01-05 15:35:00': {'1. open': '3814.53000',
   '2. high': '3817.27000',
   '3. low': '3805.75000',
   '4. close': '3809.99000',
   '5. volume': 673},
  '2022-01-05 15:30:00': {'1. open': '3820.78000',
   '2. high': '3820.97000',
   '3. low': '3812.72000',
   '4. close': '3814.53000',
   '5. volume': 454},
  '2022-01-05 15:25:00': {'1. open': '3814.87000',
   '2. high': '3823.06000',
   '3. low': '3814.28000',
   '4. close': '3820.78000',
   '5. volume': 1131},
  '2022-01-05 15:20:00': {'1. open': '3808.07000',
   '2. high': '3818.51000',
   '3. low': '3808.06000',
   '4. close': '3814.87000',
   '5. volume': 597},
  '2022-01-05 15:15:00': {'1. open': '3810.34000',
   '2. high': '3814.94000',
   '3. low': '3807.30000',
   '4. close': '3808.07000',
   '5. volume': 567},
  '2022-01-05 15:10:00': {'1. open': '3815.56000',
   '2. high': '3816.94000',
   '3. low': '3807.89000',
   '4. close': '3810.34000',
   '5. volume': 815},
  '2022-01-05 15:05:00': {'1. open': '3820.05000',
   '2. high': '3824.12000',
   '3. low': '3814.36000',
   '4. close': '3815.55000',
   '5. volume': 898},
  '2022-01-05 15:00:00': {'1. open': '3821.02000',
   '2. high': '3828.18000',
   '3. low': '3816.12000',
   '4. close': '3820.05000',
   '5. volume': 1421},
  '2022-01-05 14:55:00': {'1. open': '3819.10000',
   '2. high': '3829.18000',
   '3. low': '3813.92000',
   '4. close': '3821.00000',
   '5. volume': 1243},
  '2022-01-05 14:50:00': {'1. open': '3793.52000',
   '2. high': '3825.55000',
   '3. low': '3789.09000',
   '4. close': '3818.53000',
   '5. volume': 2068},
  '2022-01-05 14:45:00': {'1. open': '3803.15000',
   '2. high': '3808.25000',
   '3. low': '3788.57000',
   '4. close': '3793.10000',
   '5. volume': 1049},
  '2022-01-05 14:40:00': {'1. open': '3793.94000',
   '2. high': '3833.00000',
   '3. low': '3793.02000',
   '4. close': '3802.84000',
   '5. volume': 3766},
  '2022-01-05 14:35:00': {'1. open': '3803.75000',
   '2. high': '3805.60000',
   '3. low': '3793.61000',
   '4. close': '3793.94000',
   '5. volume': 956},
  '2022-01-05 14:30:00': {'1. open': '3810.95000',
   '2. high': '3820.00000',
   '3. low': '3800.38000',
   '4. close': '3803.75000',
   '5. volume': 1504},
  '2022-01-05 14:25:00': {'1. open': '3805.24000',
   '2. high': '3811.50000',
   '3. low': '3804.78000',
   '4. close': '3810.94000',
   '5. volume': 436},
  '2022-01-05 14:20:00': {'1. open': '3803.40000',
   '2. high': '3806.40000',
   '3. low': '3802.84000',
   '4. close': '3805.24000',
   '5. volume': 348},
  '2022-01-05 14:15:00': {'1. open': '3815.02000',
   '2. high': '3815.18000',
   '3. low': '3801.73000',
   '4. close': '3803.39000',
   '5. volume': 527},
  '2022-01-05 14:10:00': {'1. open': '3810.43000',
   '2. high': '3819.00000',
   '3. low': '3809.61000',
   '4. close': '3815.02000',
   '5. volume': 731},
  '2022-01-05 14:05:00': {'1. open': '3814.13000',
   '2. high': '3815.00000',
   '3. low': '3809.99000',
   '4. close': '3810.42000',
   '5. volume': 851},
  '2022-01-05 14:00:00': {'1. open': '3814.54000',
   '2. high': '3818.80000',
   '3. low': '3813.48000',
   '4. close': '3814.14000',
   '5. volume': 972},
  '2022-01-05 13:55:00': {'1. open': '3807.51000',
   '2. high': '3816.17000',
   '3. low': '3807.23000',
   '4. close': '3814.54000',
   '5. volume': 1214},
  '2022-01-05 13:50:00': {'1. open': '3800.24000',
   '2. high': '3807.70000',
   '3. low': '3798.01000',
   '4. close': '3807.23000',
   '5. volume': 603},
  '2022-01-05 13:45:00': {'1. open': '3802.99000',
   '2. high': '3807.01000',
   '3. low': '3798.80000',
   '4. close': '3800.23000',
   '5. volume': 736},
  '2022-01-05 13:40:00': {'1. open': '3806.34000',
   '2. high': '3807.35000',
   '3. low': '3800.04000',
   '4. close': '3803.00000',
   '5. volume': 547},
  '2022-01-05 13:35:00': {'1. open': '3808.38000',
   '2. high': '3808.39000',
   '3. low': '3803.03000',
   '4. close': '3806.35000',
   '5. volume': 665},
  '2022-01-05 13:30:00': {'1. open': '3804.40000',
   '2. high': '3808.39000',
   '3. low': '3799.40000',
   '4. close': '3808.39000',
   '5. volume': 945},
  '2022-01-05 13:25:00': {'1. open': '3803.64000',
   '2. high': '3807.72000',
   '3. low': '3800.70000',
   '4. close': '3804.40000',
   '5. volume': 758},
  '2022-01-05 13:20:00': {'1. open': '3800.00000',
   '2. high': '3804.16000',
   '3. low': '3796.21000',
   '4. close': '3803.27000',
   '5. volume': 1312},
  '2022-01-05 13:15:00': {'1. open': '3788.32000',
   '2. high': '3804.16000',
   '3. low': '3785.99000',
   '4. close': '3800.00000',
   '5. volume': 1268},
  '2022-01-05 13:10:00': {'1. open': '3784.63000',
   '2. high': '3789.06000',
   '3. low': '3780.79000',
   '4. close': '3788.33000',
   '5. volume': 499},
  '2022-01-05 13:05:00': {'1. open': '3785.77000',
   '2. high': '3787.55000',
   '3. low': '3782.80000',
   '4. close': '3784.63000',
   '5. volume': 484},
  '2022-01-05 13:00:00': {'1. open': '3790.02000',
   '2. high': '3796.71000',
   '3. low': '3784.87000',
   '4. close': '3785.76000',
   '5. volume': 1123},
  '2022-01-05 12:55:00': {'1. open': '3785.00000',
   '2. high': '3792.31000',
   '3. low': '3783.44000',
   '4. close': '3790.03000',
   '5. volume': 1122},
  '2022-01-05 12:50:00': {'1. open': '3771.98000',
   '2. high': '3785.83000',
   '3. low': '3770.62000',
   '4. close': '3785.00000',
   '5. volume': 905},
  '2022-01-05 12:45:00': {'1. open': '3776.91000',
   '2. high': '3777.49000',
   '3. low': '3765.93000',
   '4. close': '3771.76000',
   '5. volume': 785},
  '2022-01-05 12:40:00': {'1. open': '3778.46000',
   '2. high': '3778.79000',
   '3. low': '3761.44000',
   '4. close': '3776.91000',
   '5. volume': 1422},
  '2022-01-05 12:35:00': {'1. open': '3781.61000',
   '2. high': '3783.41000',
   '3. low': '3776.66000',
   '4. close': '3778.46000',
   '5. volume': 675},
  '2022-01-05 12:30:00': {'1. open': '3782.58000',
   '2. high': '3783.40000',
   '3. low': '3776.79000',
   '4. close': '3781.60000',
   '5. volume': 1196},
  '2022-01-05 12:25:00': {'1. open': '3773.73000',
   '2. high': '3784.08000',
   '3. low': '3771.16000',
   '4. close': '3782.58000',
   '5. volume': 1192},
  '2022-01-05 12:20:00': {'1. open': '3784.41000',
   '2. high': '3784.41000',
   '3. low': '3769.00000',
   '4. close': '3773.74000',
   '5. volume': 2061},
  '2022-01-05 12:15:00': {'1. open': '3786.85000',
   '2. high': '3791.00000',
   '3. low': '3783.69000',
   '4. close': '3784.41000',
   '5. volume': 779},
  '2022-01-05 12:10:00': {'1. open': '3788.24000',
   '2. high': '3789.80000',
   '3. low': '3781.09000',
   '4. close': '3786.85000',
   '5. volume': 1074},
  '2022-01-05 12:05:00': {'1. open': '3791.19000',
   '2. high': '3791.30000',
   '3. low': '3784.34000',
   '4. close': '3788.23000',
   '5. volume': 600},
  '2022-01-05 12:00:00': {'1. open': '3791.69000',
   '2. high': '3796.71000',
   '3. low': '3790.91000',
   '4. close': '3791.18000',
   '5. volume': 825},
  '2022-01-05 11:55:00': {'1. open': '3788.51000',
   '2. high': '3792.86000',
   '3. low': '3783.40000',
   '4. close': '3791.69000',
   '5. volume': 813},
  '2022-01-05 11:50:00': {'1. open': '3789.48000',
   '2. high': '3792.36000',
   '3. low': '3781.42000',
   '4. close': '3788.51000',
   '5. volume': 802},
  '2022-01-05 11:45:00': {'1. open': '3788.55000',
   '2. high': '3794.49000',
   '3. low': '3788.11000',
   '4. close': '3789.49000',
   '5. volume': 701},
  '2022-01-05 11:40:00': {'1. open': '3793.02000',
   '2. high': '3796.71000',
   '3. low': '3783.65000',
   '4. close': '3788.54000',
   '5. volume': 1271},
  '2022-01-05 11:35:00': {'1. open': '3791.60000',
   '2. high': '3796.91000',
   '3. low': '3783.00000',
   '4. close': '3793.02000',
   '5. volume': 2063},
  '2022-01-05 11:30:00': {'1. open': '3804.51000',
   '2. high': '3805.90000',
   '3. low': '3790.08000',
   '4. close': '3791.54000',
   '5. volume': 1590},
  '2022-01-05 11:25:00': {'1. open': '3810.01000',
   '2. high': '3811.40000',
   '3. low': '3800.15000',
   '4. close': '3804.50000',
   '5. volume': 789},
  '2022-01-05 11:20:00': {'1. open': '3814.20000',
   '2. high': '3814.96000',
   '3. low': '3804.17000',
   '4. close': '3810.02000',
   '5. volume': 1960},
  '2022-01-05 11:15:00': {'1. open': '3812.00000',
   '2. high': '3814.99000',
   '3. low': '3811.75000',
   '4. close': '3814.21000',
   '5. volume': 759},
  '2022-01-05 11:10:00': {'1. open': '3817.70000',
   '2. high': '3817.72000',
   '3. low': '3810.98000',
   '4. close': '3812.00000',
   '5. volume': 940},
  '2022-01-05 11:05:00': {'1. open': '3818.11000',
   '2. high': '3822.64000',
   '3. low': '3816.40000',
   '4. close': '3817.70000',
   '5. volume': 469},
  '2022-01-05 11:00:00': {'1. open': '3826.45000',
   '2. high': '3828.08000',
   '3. low': '3818.00000',
   '4. close': '3818.11000',
   '5. volume': 951},
  '2022-01-05 10:55:00': {'1. open': '3823.55000',
   '2. high': '3828.15000',
   '3. low': '3822.12000',
   '4. close': '3826.45000',
   '5. volume': 534},
  '2022-01-05 10:50:00': {'1. open': '3822.58000',
   '2. high': '3826.45000',
   '3. low': '3822.27000',
   '4. close': '3823.55000',
   '5. volume': 516},
  '2022-01-05 10:45:00': {'1. open': '3822.08000',
   '2. high': '3827.18000',
   '3. low': '3821.72000',
   '4. close': '3822.57000',
   '5. volume': 520},
  '2022-01-05 10:40:00': {'1. open': '3824.69000',
   '2. high': '3827.82000',
   '3. low': '3821.26000',
   '4. close': '3822.08000',
   '5. volume': 486},
  '2022-01-05 10:35:00': {'1. open': '3828.18000',
   '2. high': '3828.93000',
   '3. low': '3822.71000',
   '4. close': '3824.68000',
   '5. volume': 483},
  '2022-01-05 10:30:00': {'1. open': '3832.00000',
   '2. high': '3835.04000',
   '3. low': '3825.94000',
   '4. close': '3828.19000',
   '5. volume': 457},
  '2022-01-05 10:25:00': {'1. open': '3830.38000',
   '2. high': '3833.40000',
   '3. low': '3829.00000',
   '4. close': '3832.00000',
   '5. volume': 476},
  '2022-01-05 10:20:00': {'1. open': '3829.79000',
   '2. high': '3833.55000',
   '3. low': '3827.84000',
   '4. close': '3830.38000',
   '5. volume': 753},
  '2022-01-05 10:15:00': {'1. open': '3839.17000',
   '2. high': '3839.27000',
   '3. low': '3827.78000',
   '4. close': '3829.78000',
   '5. volume': 856},
  '2022-01-05 10:10:00': {'1. open': '3842.74000',
   '2. high': '3847.76000',
   '3. low': '3837.44000',
   '4. close': '3839.18000',
   '5. volume': 784},
  '2022-01-05 10:05:00': {'1. open': '3842.69000',
   '2. high': '3846.32000',
   '3. low': '3842.03000',
   '4. close': '3842.74000',
   '5. volume': 658},
  '2022-01-05 10:00:00': {'1. open': '3836.70000',
   '2. high': '3848.00000',
   '3. low': '3836.69000',
   '4. close': '3842.51000',
   '5. volume': 926},
  '2022-01-05 09:55:00': {'1. open': '3833.59000',
   '2. high': '3837.76000',
   '3. low': '3832.85000',
   '4. close': '3836.69000',
   '5. volume': 565},
  '2022-01-05 09:50:00': {'1. open': '3831.92000',
   '2. high': '3834.61000',
   '3. low': '3830.06000',
   '4. close': '3833.59000',
   '5. volume': 549},
  '2022-01-05 09:45:00': {'1. open': '3838.30000',
   '2. high': '3840.00000',
   '3. low': '3831.22000',
   '4. close': '3831.93000',
   '5. volume': 531},
  '2022-01-05 09:40:00': {'1. open': '3832.55000',
   '2. high': '3839.99000',
   '3. low': '3831.75000',
   '4. close': '3838.30000',
   '5. volume': 988},
  '2022-01-05 09:35:00': {'1. open': '3830.00000',
   '2. high': '3833.44000',
   '3. low': '3829.85000',
   '4. close': '3832.54000',
   '5. volume': 605},
  '2022-01-05 09:30:00': {'1. open': '3831.18000',
   '2. high': '3833.10000',
   '3. low': '3827.00000',
   '4. close': '3830.01000',
   '5. volume': 862},
  '2022-01-05 09:25:00': {'1. open': '3830.01000',
   '2. high': '3833.00000',
   '3. low': '3825.98000',
   '4. close': '3831.19000',
   '5. volume': 1350},
  '2022-01-05 09:20:00': {'1. open': '3824.23000',
   '2. high': '3830.61000',
   '3. low': '3822.42000',
   '4. close': '3830.00000',
   '5. volume': 696},
  '2022-01-05 09:15:00': {'1. open': '3818.73000',
   '2. high': '3824.43000',
   '3. low': '3816.46000',
   '4. close': '3824.23000',
   '5. volume': 606},
  '2022-01-05 09:10:00': {'1. open': '3821.19000',
   '2. high': '3821.32000',
   '3. low': '3817.84000',
   '4. close': '3818.74000',
   '5. volume': 572},
  '2022-01-05 09:05:00': {'1. open': '3820.22000',
   '2. high': '3825.94000',
   '3. low': '3818.57000',
   '4. close': '3821.20000',
   '5. volume': 660},
  '2022-01-05 09:00:00': {'1. open': '3820.83000',
   '2. high': '3827.09000',
   '3. low': '3816.64000',
   '4. close': '3820.22000',
   '5. volume': 738},
  '2022-01-05 08:55:00': {'1. open': '3821.03000',
   '2. high': '3822.76000',
   '3. low': '3818.06000',
   '4. close': '3820.82000',
   '5. volume': 652}}}

### Treasury Yield

In [ ]:
treasury_yield = {
    "function": "TREASURY_YIELD",
    "interval": "weekly", # daily, monthly
    "maturity": "3month", # OPTIONAL 5year, 10year, 30year
    "apikey": key
}

### Economic Indicators

In [91]:
gdp = {
    "function": "REAL_GDP",
    "interval": "annual", # quarterly
    "apikey": key
}

federal_funds_rate = {
    "function": "FEDERAL_FUNDS_RATE",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
cpi = {
    "function": "CPI",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
inflation = {
    "function": "INFLATION",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
consumer_sentiment = {
    "function": "CONSUMER_SENTIMENT",
    "apikey": key
}
unemployment = {
    "function": "UNEMPLOYMENT",
    "apikey": key
}
r = requests.get(url, params=unemployment) # REPLACE 'params' with desired dict
data = r.json()
crypto_df = pd.DataFrame(data['data'])
crypto_df = crypto_df.set_index("date")
crypto_df

           value
date
2021-11-01   4.2
2021-10-01   4.6
2021-09-01   4.8
2021-08-01   5.2
2021-07-01   5.4
...          ...
1948-05-01   3.5
1948-04-01   3.9
1948-03-01   4.0
1948-02-01   3.8
1948-01-01   3.4

[887 rows x 1 columns]

### Financials

In [ ]:
document = 'INCOME_STATEMENT' # BALANCE_SHEET, CASH_FLOW
url = 'https://www.alphavantage.co/query?function='+document+'&symbol=IBM&apikey=demo'
r = requests.get(url)
data = r.json()

### Technical Indicators

In [101]:
# Lots to cover here, I've listed the most popular below
popular_ti = {
    "function": "ADX", # REPLACE: EMA, RSI, ADX, SMA
	"symbol": "IBM",
	"interval": "weekly",
	"time_period": "10",
	"series_type": "open",
    "apikey": key
}

r = requests.get(url, params=popular_ti)
data = r.json()
crypto_df = pd.DataFrame(data['Technical Analysis: ADX']).T # REPLACE to match the function
crypto_df

                ADX
2021-12-23  23.8256
2021-12-17  24.8406
2021-12-10  26.8894
2021-12-03  29.1061
2021-11-26  28.1847
...             ...
2000-04-20  28.4723
2000-04-14  31.4184
2000-04-07  34.8993
2000-03-31  34.9256
2000-03-24  34.1448

[1136 rows x 1 columns]

## Extracting stock data (historical close price) for multiple stocks

In [ ]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
close_prices = pd.DataFrame()
api_call_count = 1
ts = TimeSeries(key=key, output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    close_prices[ticker] = data["close"]
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [ ]:
close_prices

## Extracting OHLCV data for multiple stocks

In [ ]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
ohlv_dict = {}
api_call_count = 1
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    ohlv_dict[ticker] = data
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [ ]:
ohlv_dict['AMZN']