## Table of Contents

* [Getting Started - Load Libraries and Dataset](#0)
    * [2.1. Load Libraries](#0.1)    
* [Symbol Search](#1)
* [Historical Price and Volume for 1 Stock](#2)
    * [Adding Time Periods](#2.1)
* [Frequency Setting](#3)
* [Dividends](#4)
* [Financial Indices](#5)
* [Currency Exchange](#6)
* [Cryptocurrencies](#7)
* [Mutual Funds](#8)
* [Treasury Rates](#9)
* [Stock Fundamentals](#10)
* [Financials](#11)
* [Stream Realtime Data](#12)
* [Economic Indicators](#13)
* [Technical Indicators](#14)

<a id='0'></a>
## Getting Started - Load Libraries and Dataset

link: https://github.com/RomelTorres/alpha_vantage

In [ ]:
https://medium.com/codex/alpha-vantage-an-introduction-to-a-highly-efficient-free-stock-api-6d17f4481bf

### Load Libraries

In [1]:
from alpha_vantage.timeseries import TimeSeries
import pandas as pd
import time
import requests
from io import BytesIO

In [2]:
# API Key
key = "AAUUBAYEDCI353AC"

<a id='1'></a>
## Symbol Search

In [18]:
symbol_to_search = 'TSL'
url = 'https://www.alphavantage.co/query?function=SYMBOL_SEARCH&keywords='+symbol_to_search+'&apikey={key}'
r = requests.get(url)
data = r.json()
data = pd.DataFrame(data['bestMatches'])

,1. symbol,2. name,3. type,4. region,5. marketOpen,6. marketClose,7. timezone,8. currency,9. matchScore
0,TSLA,Tesla Inc,Equity,United States,09:30,16:00,UTC-04,USD,0.8571
1,TSL.LON,ThinkSmart Limited,Equity,United Kingdom,08:00,16:30,UTC+00,GBX,0.7500
2,TSLAX,TRANSAMERICA SMALL CAP VALUE A,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
3,TSLCX,Transamerica Small Cap Value Class C,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
4,TSLFX,TRANSAMERICA SMALL CAP VALUE R4,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
5,TSLIX,TRANSAMERICA SMALL CAP VALUE I,Mutual Fund,United States,09:30,16:00,UTC-04,USD,0.7500
6,TSLLF,Tassal Group,Equity,United States,09:30,16:00,UTC-04,USD,0.7500
7,TSLMF,ThinkSmart Ltd,Equity,United States,09:30,16:00,UTC-04,USD,0.7500
8,TSL.TRT,Tree Island Steel Ltd,Equity,Toronto,09:30,16:00,UTC-05,CAD,0.6667
9,TSLA34.SAO,Tesla Inc,Equity,Brazil/Sao Paolo,10:00,17:30,UTC-03,BRL,0.5000

<a id='2'></a>
## Historic Stock Price and Volume

In [37]:
data = {
    "function": "DIGITAL_CURRENCY_DAILY", # WEEKLY, MONTHLY possible
    "symbol": "ETH",
    "market": 'CNY',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Time Series (Digital Currency Daily)']).T.reset_index()
crypto_df = crypto_df.rename(columns={"index": "Date"})
crypto_df['Date'] = pd.to_datetime(crypto_df['Date'])
crypto_df

               open       high        low    close      volume
date
2010-06-29    19.00    25.0000    17.5400    23.89  18766300.0
2010-06-30    25.79    30.4192    23.3000    23.83  17187100.0
2010-07-01    25.00    25.9200    20.2700    21.96   8218800.0
2010-07-02    23.00    23.1000    18.7100    19.20   5139800.0
2010-07-06    20.00    20.0000    15.8300    16.11   6866900.0
...             ...        ...        ...      ...         ...
2022-01-04  1189.55  1208.0000  1123.0500  1149.59  33416086.0
2022-01-05  1146.65  1170.3400  1081.0101  1088.12  26706599.0
2022-01-06  1077.00  1088.0000  1020.5000  1064.70  30112158.0
2022-01-07  1080.37  1080.9299  1010.0000  1026.96  28054916.0
2022-01-10  1000.00  1059.1000   980.0000  1058.12  30604959.0

[2905 rows x 5 columns]

<a id='2.1'></a>
## Adding Time Periods

In [35]:
data = {
    "function": "TIME_SERIES_DAILY", # WEEKLY, MONTHLY possible
    "symbol": "TSLA",
     "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
data = pd.DataFrame(data['Time Series (Daily)']).T
data

              1. open    2. high     3. low   4. close 5. volume
2022-01-10  1000.0000  1059.1000   980.0000  1058.1200  30604959
2022-01-07  1080.3700  1080.9299  1010.0000  1026.9600  28054916
2022-01-06  1077.0000  1088.0000  1020.5000  1064.7000  30112158
2022-01-05  1146.6500  1170.3400  1081.0101  1088.1200  26706599
2022-01-04  1189.5500  1208.0000  1123.0500  1149.5900  33416086
...               ...        ...        ...        ...       ...
2021-08-25   707.0300   716.9700   704.0000   711.2000  12645562
2021-08-24   710.6800   715.2200   702.6400   708.4900  13083071
2021-08-23   685.4420   712.1299   680.7505   706.3000  20264859
2021-08-20   682.8500   692.1299   673.7000   680.2600  14841865
2021-08-19   678.2100   686.5500   667.5900   673.4700  14313486

[100 rows x 5 columns]

<a id='3'></a>
## Frequency Setting

In [8]:
def get_intraday_data(symbol, interval):
    api_key = key
    api_url = f'https://www.alphavantage.co/query?function=TIME_SERIES_INTRADAY&symbol={symbol}&interval={interval}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    df = pd.DataFrame(raw_df[f'Time Series ({interval})']).T
    df = df.rename(columns = {'1. open': 'open', '2. high': 'high', '3. low': 'low', '4. close': 'close', '5. volume': 'volume'})
    for i in df.columns:
        df[i] = df[i].astype(float)
    df.index = pd.to_datetime(df.index)
    df = df.iloc[::-1]
    return df

tsla_intra = get_intraday_data('TSLA', '1min')
tsla_intra.tail()

                        open     high      low   close  volume
2021-12-23 19:56:00  1068.45  1068.90  1068.45  1068.5  2502.0
2021-12-23 19:57:00  1068.70  1068.70  1068.70  1068.7   855.0
2021-12-23 19:58:00  1069.00  1069.50  1069.00  1069.5  3332.0
2021-12-23 19:59:00  1069.20  1069.72  1069.05  1069.5  2642.0
2021-12-23 20:00:00  1069.00  1069.30  1069.00  1069.3  4489.0

<a id='4'></a>
## Dividends

In [27]:
ticker = "IBM"
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()
dividends = pd.DataFrame(data, index = ['Values'])
dividends = dividends[['DividendPerShare', 'DividendYield', 'DividendDate', 'ExDividendDate']].T
data

{'Symbol': 'IBM',
 'AssetType': 'Common Stock',
 'Name': 'International Business Machines Corporation',
 'Description': 'International Business Machines Corporation (IBM) is an American multinational technology company headquartered in Armonk, New York, with operations in over 170 countries. The company began in 1911, founded in Endicott, New York, as the Computing-Tabulating-Recording Company (CTR) and was renamed International Business Machines in 1924. IBM is incorporated in New York. IBM produces and sells computer hardware, middleware and software, and provides hosting and consulting services in areas ranging from mainframe computers to nanotechnology. IBM is also a major research organization, holding the record for most annual U.S. patents generated by a business (as of 2020) for 28 consecutive years. Inventions by IBM include the automated teller machine (ATM), the floppy disk, the hard disk drive, the magnetic stripe card, the relational database, the SQL programming language, the UPC barcode, and dynamic random-access memory (DRAM). The IBM mainframe, exemplified by the System/360, was the dominant computing platform during the 1960s and 1970s.',
 'CIK': '51143',
 'Exchange': 'NYSE',
 'Currency': 'USD',
 'Country': 'USA',
 'Sector': 'TECHNOLOGY',
 'Industry': 'COMPUTER & OFFICE EQUIPMENT',
 'Address': '1 NEW ORCHARD ROAD, ARMONK, NY, US',
 'FiscalYearEnd': 'December',
 'LatestQuarter': '2021-09-30',
 'MarketCapitalization': '123710087000',
 'EBITDA': '15659000000',
 'PERatio': '26.13',
 'PEGRatio': '2.154',
 'BookValue': '24.79',
 'DividendPerShare': '6.54',
 'DividendYield': '0.0482',
 'EPS': '5.28',
 'RevenuePerShareTTM': '83.23',
 'ProfitMargin': '0.064',
 'OperatingMarginTTM': '0.12',
 'ReturnOnAssetsTTM': '0.0374',
 'ReturnOnEquityTTM': '0.214',
 'RevenueTTM': '74461004000',
 'GrossProfitTTM': '35575000000',
 'DilutedEPSTTM': '5.28',
 'QuarterlyEarningsGrowthYOY': '-0.338',
 'QuarterlyRevenueGrowthYOY': '0.003',
 'AnalystTargetPrice': '145.17',
 'TrailingPE': '26.13',
 'ForwardPE': '10.86',
 'PriceToSalesRatioTTM': '1.661',
 'PriceToBookRatio': '5.01',
 'EVToRevenue': '2.178',
 'EVToEBITDA': '12.51',
 'Beta': '1.104',
 '52WeekHigh': '142.43',
 '52WeekLow': '106.73',
 '50DayMovingAverage': '122.65',
 '200DayMovingAverage': '131.76',
 'SharesOutstanding': '896320000',
 'DividendDate': '2021-12-10',
 'ExDividendDate': '2021-11-09'}

### Earnings Information

In [14]:
BASE_URL = r"https://www.alphavantage.co/query?"

def earnings_calendar_api(api_key, horizon, symbol=None):
    if symbol is not None:
        url = f'{BASE_URL}function=EARNINGS_CALENDAR&symbol={symbol}&horizon={horizon}&apikey={api_key}'
        response = requests.get(url)
    else:
        url = f"{BASE_URL}function=EARNINGS_CALENDAR&horizon={horizon}&apikey={api_key}"
        response = requests.get(url)

    return pd.read_csv(BytesIO(response.content))

api_key = key
horizon=["3month","6month","12month"]
earnings_calendar_api(api_key,horizon[0])

,symbol,name,reportDate,fiscalDateEnding,estimate,currency
0,A,Agilent Technologies Inc,2022-02-14,2022-01-31,1.17,USD
1,AA,Alcoa Corp,2022-01-18,2021-12-31,1.77,USD
2,AADI,Aadi Bioscience Inc,2022-03-09,2021-12-31,-1.06,USD
3,AAIC,Arlington Asset Investment Corp - Class A,2022-02-14,2021-12-31,0.06,USD
4,AAL,American Airlines Group Inc,2022-01-26,2021-12-31,-1.79,USD
...,...,...,...,...,...,...
4788,ZUO,Zuora Inc - Class A,2022-03-09,2022-01-31,-0.02,USD
4789,ZVO,Zovio Inc,2022-02-22,2021-12-31,-0.11,USD
4790,ZYME,Zymeworks Inc,2022-02-22,2021-12-31,-1.18,USD
4791,ZYNE,Zynerba Pharmaceuticals Inc,2022-03-08,2021-12-31,-0.26,USD
4792,ZYXI,Zynex Inc,2022-02-23,2021-12-31,0.19,USD

<a id='5'></a>
## Financial Indices

In [23]:
index = "DJI" # FCHI, IXIC, ...
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY_ADJUSTED&symbol='+index+'&outputsize=full&apikey={key}'
r = requests.get(url)
data = r.json()

{'Global Quote': {}}

<a id='6'></a>
## Currency Exchange

In [25]:
# Currency list: https://www.alphavantage.co/physical_currency_list/
currency_a = 'EUR'
currency_b = 'USD'
interval = '5min' # 1min, 5min, 15min, 30min, 60min
url = 'https://www.alphavantage.co/query?function=FX_INTRADAY&from_symbol=EUR&to_symbol=USD&interval=5min&apikey=demo'
r = requests.get(url)
data = r.json()

{'Meta Data': {'1. Information': 'FX Intraday (5min) Time Series',
  '2. From Symbol': 'EUR',
  '3. To Symbol': 'USD',
  '4. Last Refreshed': '2022-01-05 17:15:00',
  '5. Interval': '5min',
  '6. Output Size': 'Compact',
  '7. Time Zone': 'UTC'},
 'Time Series FX (5min)': {'2022-01-05 17:15:00': {'1. open': '1.13372',
   '2. high': '1.13378',
   '3. low': '1.13350',
   '4. close': '1.13350'},
  '2022-01-05 17:10:00': {'1. open': '1.13368',
   '2. high': '1.13392',
   '3. low': '1.13340',
   '4. close': '1.13375'},
  '2022-01-05 17:05:00': {'1. open': '1.13341',
   '2. high': '1.13375',
   '3. low': '1.13310',
   '4. close': '1.13350'},
  '2022-01-05 17:00:00': {'1. open': '1.13300',
   '2. high': '1.13347',
   '3. low': '1.13280',
   '4. close': '1.13342'},
  '2022-01-05 16:55:00': {'1. open': '1.13327',
   '2. high': '1.13334',
   '3. low': '1.13280',
   '4. close': '1.13298'},
  '2022-01-05 16:50:00': {'1. open': '1.13317',
   '2. high': '1.13327',
   '3. low': '1.13270',
   '4. close': '1.13325'},
  '2022-01-05 16:45:00': {'1. open': '1.13270',
   '2. high': '1.13324',
   '3. low': '1.13270',
   '4. close': '1.13319'},
  '2022-01-05 16:40:00': {'1. open': '1.13276',
   '2. high': '1.13323',
   '3. low': '1.13260',
   '4. close': '1.13294'},
  '2022-01-05 16:35:00': {'1. open': '1.13266',
   '2. high': '1.13282',
   '3. low': '1.13230',
   '4. close': '1.13279'},
  '2022-01-05 16:30:00': {'1. open': '1.13264',
   '2. high': '1.13270',
   '3. low': '1.13210',
   '4. close': '1.13263'},
  '2022-01-05 16:25:00': {'1. open': '1.13332',
   '2. high': '1.13337',
   '3. low': '1.13240',
   '4. close': '1.13264'},
  '2022-01-05 16:20:00': {'1. open': '1.13382',
   '2. high': '1.13388',
   '3. low': '1.13320',
   '4. close': '1.13332'},
  '2022-01-05 16:15:00': {'1. open': '1.13387',
   '2. high': '1.13396',
   '3. low': '1.13360',
   '4. close': '1.13381'},
  '2022-01-05 16:10:00': {'1. open': '1.13364',
   '2. high': '1.13392',
   '3. low': '1.13350',
   '4. close': '1.13387'},
  '2022-01-05 16:05:00': {'1. open': '1.13369',
   '2. high': '1.13373',
   '3. low': '1.13320',
   '4. close': '1.13364'},
  '2022-01-05 16:00:00': {'1. open': '1.13367',
   '2. high': '1.13382',
   '3. low': '1.13320',
   '4. close': '1.13369'},
  '2022-01-05 15:55:00': {'1. open': '1.13354',
   '2. high': '1.13381',
   '3. low': '1.13300',
   '4. close': '1.13369'},
  '2022-01-05 15:50:00': {'1. open': '1.13360',
   '2. high': '1.13394',
   '3. low': '1.13330',
   '4. close': '1.13355'},
  '2022-01-05 15:45:00': {'1. open': '1.13330',
   '2. high': '1.13378',
   '3. low': '1.13310',
   '4. close': '1.13360'},
  '2022-01-05 15:40:00': {'1. open': '1.13342',
   '2. high': '1.13357',
   '3. low': '1.13310',
   '4. close': '1.13328'},
  '2022-01-05 15:35:00': {'1. open': '1.13367',
   '2. high': '1.13383',
   '3. low': '1.13320',
   '4. close': '1.13340'},
  '2022-01-05 15:30:00': {'1. open': '1.13421',
   '2. high': '1.13425',
   '3. low': '1.13340',
   '4. close': '1.13373'},
  '2022-01-05 15:25:00': {'1. open': '1.13439',
   '2. high': '1.13439',
   '3. low': '1.13390',
   '4. close': '1.13410'},
  '2022-01-05 15:20:00': {'1. open': '1.13432',
   '2. high': '1.13441',
   '3. low': '1.13390',
   '4. close': '1.13430'},
  '2022-01-05 15:15:00': {'1. open': '1.13390',
   '2. high': '1.13440',
   '3. low': '1.13370',
   '4. close': '1.13431'},
  '2022-01-05 15:10:00': {'1. open': '1.13437',
   '2. high': '1.13440',
   '3. low': '1.13380',
   '4. close': '1.13403'},
  '2022-01-05 15:05:00': {'1. open': '1.13357',
   '2. high': '1.13437',
   '3. low': '1.13340',
   '4. close': '1.13430'},
  '2022-01-05 15:00:00': {'1. open': '1.13376',
   '2. high': '1.13378',
   '3. low': '1.13310',
   '4. close': '1.13357'},
  '2022-01-05 14:55:00': {'1. open': '1.13376',
   '2. high': '1.13387',
   '3. low': '1.13340',
   '4. close': '1.13377'},
  '2022-01-05 14:50:00': {'1. open': '1.13321',
   '2. high': '1.13381',
   '3. low': '1.13300',
   '4. close': '1.13375'},
  '2022-01-05 14:45:00': {'1. open': '1.13329',
   '2. high': '1.13343',
   '3. low': '1.13300',
   '4. close': '1.13321'},
  '2022-01-05 14:40:00': {'1. open': '1.13331',
   '2. high': '1.13348',
   '3. low': '1.13290',
   '4. close': '1.13330'},
  '2022-01-05 14:35:00': {'1. open': '1.13354',
   '2. high': '1.13378',
   '3. low': '1.13310',
   '4. close': '1.13335'},
  '2022-01-05 14:30:00': {'1. open': '1.13347',
   '2. high': '1.13367',
   '3. low': '1.13320',
   '4. close': '1.13353'},
  '2022-01-05 14:25:00': {'1. open': '1.13298',
   '2. high': '1.13360',
   '3. low': '1.13280',
   '4. close': '1.13340'},
  '2022-01-05 14:20:00': {'1. open': '1.13259',
   '2. high': '1.13301',
   '3. low': '1.13230',
   '4. close': '1.13298'},
  '2022-01-05 14:15:00': {'1. open': '1.13268',
   '2. high': '1.13289',
   '3. low': '1.13240',
   '4. close': '1.13260'},
  '2022-01-05 14:10:00': {'1. open': '1.13300',
   '2. high': '1.13303',
   '3. low': '1.13250',
   '4. close': '1.13267'},
  '2022-01-05 14:05:00': {'1. open': '1.13238',
   '2. high': '1.13303',
   '3. low': '1.13190',
   '4. close': '1.13290'},
  '2022-01-05 14:00:00': {'1. open': '1.13245',
   '2. high': '1.13247',
   '3. low': '1.13190',
   '4. close': '1.13220'},
  '2022-01-05 13:55:00': {'1. open': '1.13281',
   '2. high': '1.13286',
   '3. low': '1.13230',
   '4. close': '1.13244'},
  '2022-01-05 13:50:00': {'1. open': '1.13223',
   '2. high': '1.13288',
   '3. low': '1.13190',
   '4. close': '1.13260'},
  '2022-01-05 13:45:00': {'1. open': '1.13161',
   '2. high': '1.13227',
   '3. low': '1.13120',
   '4. close': '1.13220'},
  '2022-01-05 13:40:00': {'1. open': '1.13095',
   '2. high': '1.13167',
   '3. low': '1.13080',
   '4. close': '1.13157'},
  '2022-01-05 13:35:00': {'1. open': '1.13082',
   '2. high': '1.13143',
   '3. low': '1.13050',
   '4. close': '1.13099'},
  '2022-01-05 13:30:00': {'1. open': '1.13090',
   '2. high': '1.13108',
   '3. low': '1.13030',
   '4. close': '1.13082'},
  '2022-01-05 13:25:00': {'1. open': '1.13089',
   '2. high': '1.13099',
   '3. low': '1.13020',
   '4. close': '1.13070'},
  '2022-01-05 13:20:00': {'1. open': '1.13180',
   '2. high': '1.13183',
   '3. low': '1.13010',
   '4. close': '1.13092'},
  '2022-01-05 13:15:00': {'1. open': '1.13102',
   '2. high': '1.13184',
   '3. low': '1.13080',
   '4. close': '1.13175'},
  '2022-01-05 13:10:00': {'1. open': '1.13115',
   '2. high': '1.13122',
   '3. low': '1.13040',
   '4. close': '1.13101'},
  '2022-01-05 13:05:00': {'1. open': '1.13075',
   '2. high': '1.13134',
   '3. low': '1.13050',
   '4. close': '1.13116'},
  '2022-01-05 13:00:00': {'1. open': '1.13076',
   '2. high': '1.13078',
   '3. low': '1.13030',
   '4. close': '1.13078'},
  '2022-01-05 12:55:00': {'1. open': '1.13065',
   '2. high': '1.13094',
   '3. low': '1.13050',
   '4. close': '1.13074'},
  '2022-01-05 12:50:00': {'1. open': '1.13090',
   '2. high': '1.13109',
   '3. low': '1.13050',
   '4. close': '1.13069'},
  '2022-01-05 12:45:00': {'1. open': '1.13080',
   '2. high': '1.13126',
   '3. low': '1.13060',
   '4. close': '1.13100'},
  '2022-01-05 12:40:00': {'1. open': '1.13130',
   '2. high': '1.13141',
   '3. low': '1.13060',
   '4. close': '1.13060'},
  '2022-01-05 12:35:00': {'1. open': '1.13161',
   '2. high': '1.13176',
   '3. low': '1.13110',
   '4. close': '1.13132'},
  '2022-01-05 12:30:00': {'1. open': '1.13173',
   '2. high': '1.13174',
   '3. low': '1.13140',
   '4. close': '1.13157'},
  '2022-01-05 12:25:00': {'1. open': '1.13186',
   '2. high': '1.13238',
   '3. low': '1.13150',
   '4. close': '1.13171'},
  '2022-01-05 12:20:00': {'1. open': '1.13162',
   '2. high': '1.13261',
   '3. low': '1.13100',
   '4. close': '1.13186'},
  '2022-01-05 12:15:00': {'1. open': '1.13155',
   '2. high': '1.13202',
   '3. low': '1.13140',
   '4. close': '1.13140'},
  '2022-01-05 12:10:00': {'1. open': '1.13172',
   '2. high': '1.13185',
   '3. low': '1.13130',
   '4. close': '1.13153'},
  '2022-01-05 12:05:00': {'1. open': '1.13189',
   '2. high': '1.13204',
   '3. low': '1.13150',
   '4. close': '1.13175'},
  '2022-01-05 12:00:00': {'1. open': '1.13191',
   '2. high': '1.13200',
   '3. low': '1.13150',
   '4. close': '1.13180'},
  '2022-01-05 11:55:00': {'1. open': '1.13205',
   '2. high': '1.13220',
   '3. low': '1.13170',
   '4. close': '1.13180'},
  '2022-01-05 11:50:00': {'1. open': '1.13186',
   '2. high': '1.13221',
   '3. low': '1.13150',
   '4. close': '1.13190'},
  '2022-01-05 11:45:00': {'1. open': '1.13204',
   '2. high': '1.13230',
   '3. low': '1.13170',
   '4. close': '1.13190'},
  '2022-01-05 11:40:00': {'1. open': '1.13195',
   '2. high': '1.13240',
   '3. low': '1.13160',
   '4. close': '1.13190'},
  '2022-01-05 11:35:00': {'1. open': '1.13175',
   '2. high': '1.13209',
   '3. low': '1.13150',
   '4. close': '1.13193'},
  '2022-01-05 11:30:00': {'1. open': '1.13164',
   '2. high': '1.13189',
   '3. low': '1.13150',
   '4. close': '1.13170'},
  '2022-01-05 11:25:00': {'1. open': '1.13152',
   '2. high': '1.13181',
   '3. low': '1.13140',
   '4. close': '1.13162'},
  '2022-01-05 11:20:00': {'1. open': '1.13145',
   '2. high': '1.13185',
   '3. low': '1.13130',
   '4. close': '1.13150'},
  '2022-01-05 11:15:00': {'1. open': '1.13125',
   '2. high': '1.13169',
   '3. low': '1.13110',
   '4. close': '1.13140'},
  '2022-01-05 11:10:00': {'1. open': '1.13079',
   '2. high': '1.13141',
   '3. low': '1.13060',
   '4. close': '1.13110'},
  '2022-01-05 11:05:00': {'1. open': '1.13081',
   '2. high': '1.13085',
   '3. low': '1.13050',
   '4. close': '1.13080'},
  '2022-01-05 11:00:00': {'1. open': '1.13080',
   '2. high': '1.13090',
   '3. low': '1.13030',
   '4. close': '1.13079'},
  '2022-01-05 10:55:00': {'1. open': '1.13115',
   '2. high': '1.13115',
   '3. low': '1.13050',
   '4. close': '1.13087'},
  '2022-01-05 10:50:00': {'1. open': '1.13110',
   '2. high': '1.13140',
   '3. low': '1.13080',
   '4. close': '1.13113'},
  '2022-01-05 10:45:00': {'1. open': '1.13086',
   '2. high': '1.13116',
   '3. low': '1.13050',
   '4. close': '1.13090'},
  '2022-01-05 10:40:00': {'1. open': '1.13120',
   '2. high': '1.13126',
   '3. low': '1.13070',
   '4. close': '1.13070'},
  '2022-01-05 10:35:00': {'1. open': '1.13130',
   '2. high': '1.13141',
   '3. low': '1.13090',
   '4. close': '1.13110'},
  '2022-01-05 10:30:00': {'1. open': '1.13087',
   '2. high': '1.13132',
   '3. low': '1.13080',
   '4. close': '1.13131'},
  '2022-01-05 10:25:00': {'1. open': '1.13134',
   '2. high': '1.13140',
   '3. low': '1.13070',
   '4. close': '1.13086'},
  '2022-01-05 10:20:00': {'1. open': '1.13094',
   '2. high': '1.13138',
   '3. low': '1.13070',
   '4. close': '1.13134'},
  '2022-01-05 10:15:00': {'1. open': '1.13119',
   '2. high': '1.13123',
   '3. low': '1.13080',
   '4. close': '1.13094'},
  '2022-01-05 10:10:00': {'1. open': '1.13070',
   '2. high': '1.13138',
   '3. low': '1.13060',
   '4. close': '1.13117'},
  '2022-01-05 10:05:00': {'1. open': '1.13061',
   '2. high': '1.13085',
   '3. low': '1.13020',
   '4. close': '1.13084'},
  '2022-01-05 10:00:00': {'1. open': '1.13047',
   '2. high': '1.13068',
   '3. low': '1.13020',
   '4. close': '1.13059'},
  '2022-01-05 09:55:00': {'1. open': '1.13051',
   '2. high': '1.13088',
   '3. low': '1.13020',
   '4. close': '1.13030'},
  '2022-01-05 09:50:00': {'1. open': '1.13003',
   '2. high': '1.13052',
   '3. low': '1.12990',
   '4. close': '1.13048'},
  '2022-01-05 09:45:00': {'1. open': '1.13035',
   '2. high': '1.13046',
   '3. low': '1.12980',
   '4. close': '1.12990'},
  '2022-01-05 09:40:00': {'1. open': '1.13041',
   '2. high': '1.13055',
   '3. low': '1.13000',
   '4. close': '1.13035'},
  '2022-01-05 09:35:00': {'1. open': '1.13015',
   '2. high': '1.13054',
   '3. low': '1.12990',
   '4. close': '1.13041'},
  '2022-01-05 09:30:00': {'1. open': '1.13048',
   '2. high': '1.13050',
   '3. low': '1.12990',
   '4. close': '1.13000'},
  '2022-01-05 09:25:00': {'1. open': '1.13029',
   '2. high': '1.13051',
   '3. low': '1.12990',
   '4. close': '1.13047'},
  '2022-01-05 09:20:00': {'1. open': '1.13036',
   '2. high': '1.13058',
   '3. low': '1.12990',
   '4. close': '1.13031'},
  '2022-01-05 09:15:00': {'1. open': '1.13048',
   '2. high': '1.13055',
   '3. low': '1.12990',
   '4. close': '1.13035'},
  '2022-01-05 09:10:00': {'1. open': '1.13030',
   '2. high': '1.13071',
   '3. low': '1.13000',
   '4. close': '1.13050'},
  '2022-01-05 09:05:00': {'1. open': '1.13029',
   '2. high': '1.13045',
   '3. low': '1.12990',
   '4. close': '1.13038'},
  '2022-01-05 09:00:00': {'1. open': '1.13027',
   '2. high': '1.13057',
   '3. low': '1.12990',
   '4. close': '1.13028'}}}

In [ ]:
data = {
    "function": "CURRENCY_EXCHANGE_RATE", # WEEKLY, MONTHLY possible
    "from_currency": "ETH",
    "to_currency": 'USD',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Realtime Currency Exchange Rate'], index=[0]).T
crypto_df

<a id='7'></a>
## Cryptocurrencies

In [22]:
ticker = 'ETH'
url = 'https://www.alphavantage.co/query?function=CRYPTO_INTRADAY&symbol='+ticker+'&market=USD&interval=5min&apikey={key}'
r = requests.get(url)
data = r.json()
data

{'Meta Data': {'1. Information': 'Crypto Intraday (5min) Time Series',
  '2. Digital Currency Code': 'ETH',
  '3. Digital Currency Name': 'Ethereum',
  '4. Market Code': 'USD',
  '5. Market Name': 'United States Dollar',
  '6. Last Refreshed': '2022-01-11 15:55:00',
  '7. Interval': '5min',
  '8. Output Size': 'Compact',
  '9. Time Zone': 'UTC'},
 'Time Series Crypto (5min)': {'2022-01-11 15:55:00': {'1. open': '3123.57000',
   '2. high': '3130.76000',
   '3. low': '3123.41000',
   '4. close': '3125.55000',
   '5. volume': 331},
  '2022-01-11 15:50:00': {'1. open': '3116.36000',
   '2. high': '3126.63000',
   '3. low': '3113.44000',
   '4. close': '3123.61000',
   '5. volume': 599},
  '2022-01-11 15:45:00': {'1. open': '3112.14000',
   '2. high': '3121.72000',
   '3. low': '3110.75000',
   '4. close': '3116.36000',
   '5. volume': 887},
  '2022-01-11 15:40:00': {'1. open': '3124.93000',
   '2. high': '3125.21000',
   '3. low': '3110.82000',
   '4. close': '3112.30000',
   '5. volume': 1391},
  '2022-01-11 15:35:00': {'1. open': '3125.79000',
   '2. high': '3130.00000',
   '3. low': '3120.83000',
   '4. close': '3125.30000',
   '5. volume': 1378},
  '2022-01-11 15:30:00': {'1. open': '3131.88000',
   '2. high': '3145.94000',
   '3. low': '3123.85000',
   '4. close': '3125.79000',
   '5. volume': 2210},
  '2022-01-11 15:25:00': {'1. open': '3133.01000',
   '2. high': '3136.43000',
   '3. low': '3128.00000',
   '4. close': '3131.87000',
   '5. volume': 1051},
  '2022-01-11 15:20:00': {'1. open': '3136.61000',
   '2. high': '3142.00000',
   '3. low': '3133.00000',
   '4. close': '3133.01000',
   '5. volume': 1192},
  '2022-01-11 15:15:00': {'1. open': '3137.48000',
   '2. high': '3141.50000',
   '3. low': '3127.84000',
   '4. close': '3136.61000',
   '5. volume': 1652},
  '2022-01-11 15:10:00': {'1. open': '3135.95000',
   '2. high': '3142.25000',
   '3. low': '3133.47000',
   '4. close': '3137.49000',
   '5. volume': 1597},
  '2022-01-11 15:05:00': {'1. open': '3138.99000',
   '2. high': '3158.56000',
   '3. low': '3135.95000',
   '4. close': '3136.51000',
   '5. volume': 5438},
  '2022-01-11 15:00:00': {'1. open': '3115.33000',
   '2. high': '3139.98000',
   '3. low': '3110.89000',
   '4. close': '3138.99000',
   '5. volume': 3406},
  '2022-01-11 14:55:00': {'1. open': '3112.65000',
   '2. high': '3118.98000',
   '3. low': '3106.34000',
   '4. close': '3115.34000',
   '5. volume': 1370},
  '2022-01-11 14:50:00': {'1. open': '3102.89000',
   '2. high': '3119.32000',
   '3. low': '3100.01000',
   '4. close': '3112.64000',
   '5. volume': 1571},
  '2022-01-11 14:45:00': {'1. open': '3097.31000',
   '2. high': '3106.96000',
   '3. low': '3092.46000',
   '4. close': '3102.90000',
   '5. volume': 1460},
  '2022-01-11 14:40:00': {'1. open': '3095.50000',
   '2. high': '3097.36000',
   '3. low': '3085.85000',
   '4. close': '3097.31000',
   '5. volume': 1602},
  '2022-01-11 14:35:00': {'1. open': '3077.61000',
   '2. high': '3099.74000',
   '3. low': '3075.48000',
   '4. close': '3095.16000',
   '5. volume': 2916},
  '2022-01-11 14:30:00': {'1. open': '3090.81000',
   '2. high': '3094.21000',
   '3. low': '3077.61000',
   '4. close': '3077.69000',
   '5. volume': 4201},
  '2022-01-11 14:25:00': {'1. open': '3109.53000',
   '2. high': '3110.60000',
   '3. low': '3088.00000',
   '4. close': '3090.99000',
   '5. volume': 4796},
  '2022-01-11 14:20:00': {'1. open': '3114.66000',
   '2. high': '3116.23000',
   '3. low': '3108.33000',
   '4. close': '3109.52000',
   '5. volume': 1523},
  '2022-01-11 14:15:00': {'1. open': '3120.00000',
   '2. high': '3120.01000',
   '3. low': '3111.10000',
   '4. close': '3114.66000',
   '5. volume': 1555},
  '2022-01-11 14:10:00': {'1. open': '3117.85000',
   '2. high': '3120.02000',
   '3. low': '3111.82000',
   '4. close': '3120.01000',
   '5. volume': 973},
  '2022-01-11 14:05:00': {'1. open': '3117.17000',
   '2. high': '3122.57000',
   '3. low': '3113.75000',
   '4. close': '3118.42000',
   '5. volume': 704},
  '2022-01-11 14:00:00': {'1. open': '3113.51000',
   '2. high': '3117.88000',
   '3. low': '3109.19000',
   '4. close': '3117.17000',
   '5. volume': 860},
  '2022-01-11 13:55:00': {'1. open': '3111.36000',
   '2. high': '3115.00000',
   '3. low': '3109.22000',
   '4. close': '3113.52000',
   '5. volume': 557},
  '2022-01-11 13:50:00': {'1. open': '3117.65000',
   '2. high': '3117.83000',
   '3. low': '3107.23000',
   '4. close': '3111.36000',
   '5. volume': 823},
  '2022-01-11 13:45:00': {'1. open': '3107.21000',
   '2. high': '3118.42000',
   '3. low': '3107.20000',
   '4. close': '3117.83000',
   '5. volume': 812},
  '2022-01-11 13:40:00': {'1. open': '3110.62000',
   '2. high': '3112.33000',
   '3. low': '3105.98000',
   '4. close': '3107.20000',
   '5. volume': 1661},
  '2022-01-11 13:35:00': {'1. open': '3123.14000',
   '2. high': '3124.88000',
   '3. low': '3110.45000',
   '4. close': '3110.63000',
   '5. volume': 778},
  '2022-01-11 13:30:00': {'1. open': '3119.52000',
   '2. high': '3127.23000',
   '3. low': '3119.52000',
   '4. close': '3123.03000',
   '5. volume': 821},
  '2022-01-11 13:25:00': {'1. open': '3124.95000',
   '2. high': '3126.88000',
   '3. low': '3116.17000',
   '4. close': '3119.52000',
   '5. volume': 647},
  '2022-01-11 13:20:00': {'1. open': '3127.58000',
   '2. high': '3129.27000',
   '3. low': '3123.33000',
   '4. close': '3124.95000',
   '5. volume': 588},
  '2022-01-11 13:15:00': {'1. open': '3129.29000',
   '2. high': '3131.34000',
   '3. low': '3124.58000',
   '4. close': '3127.59000',
   '5. volume': 913},
  '2022-01-11 13:10:00': {'1. open': '3129.19000',
   '2. high': '3131.32000',
   '3. low': '3125.18000',
   '4. close': '3129.29000',
   '5. volume': 449},
  '2022-01-11 13:05:00': {'1. open': '3124.74000',
   '2. high': '3131.49000',
   '3. low': '3124.38000',
   '4. close': '3129.18000',
   '5. volume': 870},
  '2022-01-11 13:00:00': {'1. open': '3121.93000',
   '2. high': '3127.64000',
   '3. low': '3120.42000',
   '4. close': '3124.74000',
   '5. volume': 880},
  '2022-01-11 12:55:00': {'1. open': '3126.63000',
   '2. high': '3130.18000',
   '3. low': '3121.09000',
   '4. close': '3121.93000',
   '5. volume': 1089},
  '2022-01-11 12:50:00': {'1. open': '3129.05000',
   '2. high': '3129.08000',
   '3. low': '3124.66000',
   '4. close': '3126.63000',
   '5. volume': 735},
  '2022-01-11 12:45:00': {'1. open': '3129.41000',
   '2. high': '3130.50000',
   '3. low': '3123.00000',
   '4. close': '3129.05000',
   '5. volume': 558},
  '2022-01-11 12:40:00': {'1. open': '3122.34000',
   '2. high': '3131.11000',
   '3. low': '3122.29000',
   '4. close': '3129.42000',
   '5. volume': 622},
  '2022-01-11 12:35:00': {'1. open': '3120.62000',
   '2. high': '3125.13000',
   '3. low': '3120.31000',
   '4. close': '3122.56000',
   '5. volume': 584},
  '2022-01-11 12:30:00': {'1. open': '3127.10000',
   '2. high': '3127.10000',
   '3. low': '3118.43000',
   '4. close': '3120.62000',
   '5. volume': 709},
  '2022-01-11 12:25:00': {'1. open': '3127.25000',
   '2. high': '3127.52000',
   '3. low': '3123.00000',
   '4. close': '3127.10000',
   '5. volume': 668},
  '2022-01-11 12:20:00': {'1. open': '3131.16000',
   '2. high': '3135.52000',
   '3. low': '3125.43000',
   '4. close': '3127.24000',
   '5. volume': 904},
  '2022-01-11 12:15:00': {'1. open': '3131.21000',
   '2. high': '3132.44000',
   '3. low': '3125.21000',
   '4. close': '3131.17000',
   '5. volume': 778},
  '2022-01-11 12:10:00': {'1. open': '3123.67000',
   '2. high': '3133.74000',
   '3. low': '3121.13000',
   '4. close': '3131.21000',
   '5. volume': 2193},
  '2022-01-11 12:05:00': {'1. open': '3104.94000',
   '2. high': '3124.79000',
   '3. low': '3104.67000',
   '4. close': '3123.66000',
   '5. volume': 1118},
  '2022-01-11 12:00:00': {'1. open': '3110.92000',
   '2. high': '3114.28000',
   '3. low': '3104.94000',
   '4. close': '3104.95000',
   '5. volume': 645},
  '2022-01-11 11:55:00': {'1. open': '3118.30000',
   '2. high': '3118.30000',
   '3. low': '3110.59000',
   '4. close': '3110.93000',
   '5. volume': 496},
  '2022-01-11 11:50:00': {'1. open': '3114.04000',
   '2. high': '3119.77000',
   '3. low': '3111.04000',
   '4. close': '3118.29000',
   '5. volume': 886},
  '2022-01-11 11:45:00': {'1. open': '3108.80000',
   '2. high': '3115.73000',
   '3. low': '3108.79000',
   '4. close': '3113.88000',
   '5. volume': 601},
  '2022-01-11 11:40:00': {'1. open': '3113.00000',
   '2. high': '3113.75000',
   '3. low': '3105.65000',
   '4. close': '3109.12000',
   '5. volume': 781},
  '2022-01-11 11:35:00': {'1. open': '3113.69000',
   '2. high': '3115.83000',
   '3. low': '3109.36000',
   '4. close': '3113.01000',
   '5. volume': 772},
  '2022-01-11 11:30:00': {'1. open': '3108.69000',
   '2. high': '3120.65000',
   '3. low': '3108.50000',
   '4. close': '3113.69000',
   '5. volume': 1243},
  '2022-01-11 11:25:00': {'1. open': '3105.37000',
   '2. high': '3108.69000',
   '3. low': '3103.90000',
   '4. close': '3108.50000',
   '5. volume': 557},
  '2022-01-11 11:20:00': {'1. open': '3103.71000',
   '2. high': '3106.73000',
   '3. low': '3100.00000',
   '4. close': '3105.37000',
   '5. volume': 437},
  '2022-01-11 11:15:00': {'1. open': '3107.17000',
   '2. high': '3110.31000',
   '3. low': '3103.38000',
   '4. close': '3103.71000',
   '5. volume': 719},
  '2022-01-11 11:10:00': {'1. open': '3107.72000',
   '2. high': '3113.22000',
   '3. low': '3105.02000',
   '4. close': '3107.54000',
   '5. volume': 816},
  '2022-01-11 11:05:00': {'1. open': '3095.02000',
   '2. high': '3108.49000',
   '3. low': '3094.69000',
   '4. close': '3107.72000',
   '5. volume': 1055},
  '2022-01-11 11:00:00': {'1. open': '3093.70000',
   '2. high': '3101.00000',
   '3. low': '3091.87000',
   '4. close': '3095.01000',
   '5. volume': 2801},
  '2022-01-11 10:55:00': {'1. open': '3100.01000',
   '2. high': '3100.84000',
   '3. low': '3088.00000',
   '4. close': '3093.70000',
   '5. volume': 2388},
  '2022-01-11 10:50:00': {'1. open': '3099.53000',
   '2. high': '3104.00000',
   '3. low': '3099.53000',
   '4. close': '3100.01000',
   '5. volume': 852},
  '2022-01-11 10:45:00': {'1. open': '3107.14000',
   '2. high': '3107.92000',
   '3. low': '3099.35000',
   '4. close': '3099.73000',
   '5. volume': 1251},
  '2022-01-11 10:40:00': {'1. open': '3107.04000',
   '2. high': '3107.34000',
   '3. low': '3101.11000',
   '4. close': '3107.14000',
   '5. volume': 961},
  '2022-01-11 10:35:00': {'1. open': '3111.37000',
   '2. high': '3113.46000',
   '3. low': '3105.81000',
   '4. close': '3106.80000',
   '5. volume': 571},
  '2022-01-11 10:30:00': {'1. open': '3110.01000',
   '2. high': '3112.99000',
   '3. low': '3107.02000',
   '4. close': '3111.37000',
   '5. volume': 1037},
  '2022-01-11 10:25:00': {'1. open': '3105.69000',
   '2. high': '3112.18000',
   '3. low': '3104.20000',
   '4. close': '3110.01000',
   '5. volume': 654},
  '2022-01-11 10:20:00': {'1. open': '3112.42000',
   '2. high': '3113.46000',
   '3. low': '3105.50000',
   '4. close': '3105.70000',
   '5. volume': 793},
  '2022-01-11 10:15:00': {'1. open': '3121.42000',
   '2. high': '3121.43000',
   '3. low': '3107.22000',
   '4. close': '3112.42000',
   '5. volume': 1354},
  '2022-01-11 10:10:00': {'1. open': '3124.98000',
   '2. high': '3128.57000',
   '3. low': '3121.42000',
   '4. close': '3121.42000',
   '5. volume': 498},
  '2022-01-11 10:05:00': {'1. open': '3123.02000',
   '2. high': '3132.66000',
   '3. low': '3122.32000',
   '4. close': '3124.97000',
   '5. volume': 546},
  '2022-01-11 10:00:00': {'1. open': '3123.14000',
   '2. high': '3127.73000',
   '3. low': '3120.68000',
   '4. close': '3123.01000',
   '5. volume': 599},
  '2022-01-11 09:55:00': {'1. open': '3124.66000',
   '2. high': '3124.67000',
   '3. low': '3118.24000',
   '4. close': '3123.15000',
   '5. volume': 718},
  '2022-01-11 09:50:00': {'1. open': '3132.42000',
   '2. high': '3132.75000',
   '3. low': '3121.92000',
   '4. close': '3124.66000',
   '5. volume': 672},
  '2022-01-11 09:45:00': {'1. open': '3128.59000',
   '2. high': '3134.02000',
   '3. low': '3126.20000',
   '4. close': '3132.74000',
   '5. volume': 1108},
  '2022-01-11 09:40:00': {'1. open': '3122.34000',
   '2. high': '3129.54000',
   '3. low': '3121.05000',
   '4. close': '3128.59000',
   '5. volume': 706},
  '2022-01-11 09:35:00': {'1. open': '3114.54000',
   '2. high': '3123.89000',
   '3. low': '3111.70000',
   '4. close': '3122.33000',
   '5. volume': 1016},
  '2022-01-11 09:30:00': {'1. open': '3113.12000',
   '2. high': '3115.42000',
   '3. low': '3112.37000',
   '4. close': '3114.54000',
   '5. volume': 827},
  '2022-01-11 09:25:00': {'1. open': '3109.12000',
   '2. high': '3115.01000',
   '3. low': '3109.12000',
   '4. close': '3113.12000',
   '5. volume': 1315},
  '2022-01-11 09:20:00': {'1. open': '3104.38000',
   '2. high': '3111.31000',
   '3. low': '3102.13000',
   '4. close': '3109.12000',
   '5. volume': 1069},
  '2022-01-11 09:15:00': {'1. open': '3099.81000',
   '2. high': '3105.49000',
   '3. low': '3098.48000',
   '4. close': '3104.38000',
   '5. volume': 999},
  '2022-01-11 09:10:00': {'1. open': '3100.76000',
   '2. high': '3101.85000',
   '3. low': '3097.90000',
   '4. close': '3099.80000',
   '5. volume': 3097},
  '2022-01-11 09:05:00': {'1. open': '3111.67000',
   '2. high': '3111.80000',
   '3. low': '3100.00000',
   '4. close': '3100.97000',
   '5. volume': 1399},
  '2022-01-11 09:00:00': {'1. open': '3107.44000',
   '2. high': '3113.35000',
   '3. low': '3107.43000',
   '4. close': '3111.67000',
   '5. volume': 696},
  '2022-01-11 08:55:00': {'1. open': '3107.35000',
   '2. high': '3109.43000',
   '3. low': '3105.67000',
   '4. close': '3107.62000',
   '5. volume': 584},
  '2022-01-11 08:50:00': {'1. open': '3108.38000',
   '2. high': '3112.97000',
   '3. low': '3105.98000',
   '4. close': '3107.35000',
   '5. volume': 614},
  '2022-01-11 08:45:00': {'1. open': '3109.86000',
   '2. high': '3112.00000',
   '3. low': '3105.02000',
   '4. close': '3108.38000',
   '5. volume': 689},
  '2022-01-11 08:40:00': {'1. open': '3113.40000',
   '2. high': '3115.58000',
   '3. low': '3104.79000',
   '4. close': '3110.18000',
   '5. volume': 1484},
  '2022-01-11 08:35:00': {'1. open': '3110.96000',
   '2. high': '3117.47000',
   '3. low': '3110.96000',
   '4. close': '3113.40000',
   '5. volume': 696},
  '2022-01-11 08:30:00': {'1. open': '3121.59000',
   '2. high': '3123.62000',
   '3. low': '3110.75000',
   '4. close': '3110.97000',
   '5. volume': 1998},
  '2022-01-11 08:25:00': {'1. open': '3139.29000',
   '2. high': '3141.14000',
   '3. low': '3120.25000',
   '4. close': '3121.59000',
   '5. volume': 1217},
  '2022-01-11 08:20:00': {'1. open': '3129.88000',
   '2. high': '3146.98000',
   '3. low': '3127.82000',
   '4. close': '3139.62000',
   '5. volume': 2651},
  '2022-01-11 08:15:00': {'1. open': '3139.11000',
   '2. high': '3140.64000',
   '3. low': '3129.18000',
   '4. close': '3129.88000',
   '5. volume': 866},
  '2022-01-11 08:10:00': {'1. open': '3138.72000',
   '2. high': '3141.13000',
   '3. low': '3136.14000',
   '4. close': '3139.11000',
   '5. volume': 992},
  '2022-01-11 08:05:00': {'1. open': '3141.43000',
   '2. high': '3145.42000',
   '3. low': '3138.51000',
   '4. close': '3138.51000',
   '5. volume': 1314},
  '2022-01-11 08:00:00': {'1. open': '3129.59000',
   '2. high': '3144.06000',
   '3. low': '3128.81000',
   '4. close': '3141.44000',
   '5. volume': 4084},
  '2022-01-11 07:55:00': {'1. open': '3116.28000',
   '2. high': '3137.01000',
   '3. low': '3116.23000',
   '4. close': '3129.59000',
   '5. volume': 4698},
  '2022-01-11 07:50:00': {'1. open': '3114.79000',
   '2. high': '3117.97000',
   '3. low': '3114.68000',
   '4. close': '3116.29000',
   '5. volume': 319},
  '2022-01-11 07:45:00': {'1. open': '3108.04000',
   '2. high': '3115.79000',
   '3. low': '3107.50000',
   '4. close': '3115.01000',
   '5. volume': 500},
  '2022-01-11 07:40:00': {'1. open': '3108.96000',
   '2. high': '3111.08000',
   '3. low': '3107.49000',
   '4. close': '3108.12000',
   '5. volume': 609}}}

In [ ]:
data = {
    "function": "DIGITAL_CURRENCY_DAILY", # WEEKLY, MONTHLY possible
    "symbol": "ETH",
    "market": 'CNY',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Time Series (Digital Currency Daily)']).T.reset_index()
crypto_df = crypto_df.rename(columns={"index": "Date"})
crypto_df['Date'] = pd.to_datetime(crypto_df['Date'])
crypto_df

In [ ]:
data = {
    "function": "CURRENCY_EXCHANGE_RATE", # WEEKLY, MONTHLY possible
    "from_currency": "ETH",
    "to_currency": 'USD',
    "apikey": key
    }
r = requests.get(url, params=data)
data = r.json()
crypto_df = pd.DataFrame(data['Realtime Currency Exchange Rate'], index=[0]).T
crypto_df

<a id='8'></a>
## Mutual Funds

In [31]:
ticker = 'OMOIX'
url = 'https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()
data

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes',
  '2. Symbol': 'OMOIX',
  '3. Last Refreshed': '2022-01-03',
  '4. Output Size': 'Compact',
  '5. Time Zone': 'US/Eastern'},
 'Time Series (Daily)': {'2022-01-03': {'1. open': '26.2200',
   '2. high': '26.2200',
   '3. low': '26.2200',
   '4. close': '26.2200',
   '5. volume': '0'},
  '2021-12-31': {'1. open': '26.1900',
   '2. high': '26.1900',
   '3. low': '26.1900',
   '4. close': '26.1900',
   '5. volume': '0'},
  '2021-12-30': {'1. open': '26.1600',
   '2. high': '26.1600',
   '3. low': '26.1600',
   '4. close': '26.1600',
   '5. volume': '0'},
  '2021-12-29': {'1. open': '26.1400',
   '2. high': '26.1400',
   '3. low': '26.1400',
   '4. close': '26.1400',
   '5. volume': '0'},
  '2021-12-28': {'1. open': '26.4600',
   '2. high': '26.4600',
   '3. low': '26.4600',
   '4. close': '26.4600',
   '5. volume': '0'},
  '2021-12-27': {'1. open': '26.4700',
   '2. high': '26.4700',
   '3. low': '26.4700',
   '4. close': '26.4700',
   '5. volume': '0'},
  '2021-12-23': {'1. open': '26.4800',
   '2. high': '26.4800',
   '3. low': '26.4800',
   '4. close': '26.4800',
   '5. volume': '0'},
  '2021-12-22': {'1. open': '26.4400',
   '2. high': '26.4400',
   '3. low': '26.4400',
   '4. close': '26.4400',
   '5. volume': '0'},
  '2021-12-21': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-12-20': {'1. open': '26.3500',
   '2. high': '26.3500',
   '3. low': '26.3500',
   '4. close': '26.3500',
   '5. volume': '0'},
  '2021-12-17': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-12-16': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-15': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-12-14': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-12-13': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-10': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-12-09': {'1. open': '26.4200',
   '2. high': '26.4200',
   '3. low': '26.4200',
   '4. close': '26.4200',
   '5. volume': '0'},
  '2021-12-08': {'1. open': '26.4300',
   '2. high': '26.4300',
   '3. low': '26.4300',
   '4. close': '26.4300',
   '5. volume': '0'},
  '2021-12-07': {'1. open': '26.4200',
   '2. high': '26.4200',
   '3. low': '26.4200',
   '4. close': '26.4200',
   '5. volume': '0'},
  '2021-12-06': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-12-03': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-12-02': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-12-01': {'1. open': '26.4300',
   '2. high': '26.4300',
   '3. low': '26.4300',
   '4. close': '26.4300',
   '5. volume': '0'},
  '2021-11-30': {'1. open': '26.4500',
   '2. high': '26.4500',
   '3. low': '26.4500',
   '4. close': '26.4500',
   '5. volume': '0'},
  '2021-11-29': {'1. open': '26.5100',
   '2. high': '26.5100',
   '3. low': '26.5100',
   '4. close': '26.5100',
   '5. volume': '0'},
  '2021-11-26': {'1. open': '26.4900',
   '2. high': '26.4900',
   '3. low': '26.4900',
   '4. close': '26.4900',
   '5. volume': '0'},
  '2021-11-24': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-11-23': {'1. open': '26.5200',
   '2. high': '26.5200',
   '3. low': '26.5200',
   '4. close': '26.5200',
   '5. volume': '0'},
  '2021-11-22': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-11-19': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-11-18': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-17': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-11-16': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-15': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-12': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-11': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-11-10': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-09': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-08': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-11-05': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-11-04': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-03': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-11-02': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-11-01': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-10-29': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-10-28': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-10-27': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-10-26': {'1. open': '26.6200',
   '2. high': '26.6200',
   '3. low': '26.6200',
   '4. close': '26.6200',
   '5. volume': '0'},
  '2021-10-25': {'1. open': '26.6100',
   '2. high': '26.6100',
   '3. low': '26.6100',
   '4. close': '26.6100',
   '5. volume': '0'},
  '2021-10-22': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-10-21': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-10-20': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-10-19': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-10-18': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-10-15': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-10-14': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-10-13': {'1. open': '26.5100',
   '2. high': '26.5100',
   '3. low': '26.5100',
   '4. close': '26.5100',
   '5. volume': '0'},
  '2021-10-12': {'1. open': '26.4900',
   '2. high': '26.4900',
   '3. low': '26.4900',
   '4. close': '26.4900',
   '5. volume': '0'},
  '2021-10-11': {'1. open': '26.4700',
   '2. high': '26.4700',
   '3. low': '26.4700',
   '4. close': '26.4700',
   '5. volume': '0'},
  '2021-10-08': {'1. open': '26.4500',
   '2. high': '26.4500',
   '3. low': '26.4500',
   '4. close': '26.4500',
   '5. volume': '0'},
  '2021-10-07': {'1. open': '26.4400',
   '2. high': '26.4400',
   '3. low': '26.4400',
   '4. close': '26.4400',
   '5. volume': '0'},
  '2021-10-06': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-10-05': {'1. open': '26.4100',
   '2. high': '26.4100',
   '3. low': '26.4100',
   '4. close': '26.4100',
   '5. volume': '0'},
  '2021-10-04': {'1. open': '26.3900',
   '2. high': '26.3900',
   '3. low': '26.3900',
   '4. close': '26.3900',
   '5. volume': '0'},
  '2021-10-01': {'1. open': '26.4000',
   '2. high': '26.4000',
   '3. low': '26.4000',
   '4. close': '26.4000',
   '5. volume': '0'},
  '2021-09-30': {'1. open': '26.3600',
   '2. high': '26.3600',
   '3. low': '26.3600',
   '4. close': '26.3600',
   '5. volume': '0'},
  '2021-09-29': {'1. open': '26.3700',
   '2. high': '26.3700',
   '3. low': '26.3700',
   '4. close': '26.3700',
   '5. volume': '0'},
  '2021-09-28': {'1. open': '26.3500',
   '2. high': '26.3500',
   '3. low': '26.3500',
   '4. close': '26.3500',
   '5. volume': '0'},
  '2021-09-27': {'1. open': '26.3800',
   '2. high': '26.3800',
   '3. low': '26.3800',
   '4. close': '26.3800',
   '5. volume': '0'},
  '2021-09-24': {'1. open': '26.3700',
   '2. high': '26.3700',
   '3. low': '26.3700',
   '4. close': '26.3700',
   '5. volume': '0'},
  '2021-09-23': {'1. open': '26.7200',
   '2. high': '26.7200',
   '3. low': '26.7200',
   '4. close': '26.7200',
   '5. volume': '0'},
  '2021-09-22': {'1. open': '26.7200',
   '2. high': '26.7200',
   '3. low': '26.7200',
   '4. close': '26.7200',
   '5. volume': '0'},
  '2021-09-21': {'1. open': '26.6800',
   '2. high': '26.6800',
   '3. low': '26.6800',
   '4. close': '26.6800',
   '5. volume': '0'},
  '2021-09-20': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-09-17': {'1. open': '26.6900',
   '2. high': '26.6900',
   '3. low': '26.6900',
   '4. close': '26.6900',
   '5. volume': '0'},
  '2021-09-16': {'1. open': '26.7000',
   '2. high': '26.7000',
   '3. low': '26.7000',
   '4. close': '26.7000',
   '5. volume': '0'},
  '2021-09-15': {'1. open': '26.7100',
   '2. high': '26.7100',
   '3. low': '26.7100',
   '4. close': '26.7100',
   '5. volume': '0'},
  '2021-09-14': {'1. open': '26.6900',
   '2. high': '26.6900',
   '3. low': '26.6900',
   '4. close': '26.6900',
   '5. volume': '0'},
  '2021-09-13': {'1. open': '26.6700',
   '2. high': '26.6700',
   '3. low': '26.6700',
   '4. close': '26.6700',
   '5. volume': '0'},
  '2021-09-10': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-09': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-08': {'1. open': '26.6500',
   '2. high': '26.6500',
   '3. low': '26.6500',
   '4. close': '26.6500',
   '5. volume': '0'},
  '2021-09-07': {'1. open': '26.6400',
   '2. high': '26.6400',
   '3. low': '26.6400',
   '4. close': '26.6400',
   '5. volume': '0'},
  '2021-09-03': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-09-02': {'1. open': '26.6600',
   '2. high': '26.6600',
   '3. low': '26.6600',
   '4. close': '26.6600',
   '5. volume': '0'},
  '2021-09-01': {'1. open': '26.6300',
   '2. high': '26.6300',
   '3. low': '26.6300',
   '4. close': '26.6300',
   '5. volume': '0'},
  '2021-08-31': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-08-30': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-27': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-26': {'1. open': '26.5800',
   '2. high': '26.5800',
   '3. low': '26.5800',
   '4. close': '26.5800',
   '5. volume': '0'},
  '2021-08-25': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-24': {'1. open': '26.5700',
   '2. high': '26.5700',
   '3. low': '26.5700',
   '4. close': '26.5700',
   '5. volume': '0'},
  '2021-08-23': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-08-20': {'1. open': '26.5400',
   '2. high': '26.5400',
   '3. low': '26.5400',
   '4. close': '26.5400',
   '5. volume': '0'},
  '2021-08-19': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-08-18': {'1. open': '26.5500',
   '2. high': '26.5500',
   '3. low': '26.5500',
   '4. close': '26.5500',
   '5. volume': '0'},
  '2021-08-17': {'1. open': '26.5600',
   '2. high': '26.5600',
   '3. low': '26.5600',
   '4. close': '26.5600',
   '5. volume': '0'},
  '2021-08-16': {'1. open': '26.5900',
   '2. high': '26.5900',
   '3. low': '26.5900',
   '4. close': '26.5900',
   '5. volume': '0'},
  '2021-08-13': {'1. open': '26.6000',
   '2. high': '26.6000',
   '3. low': '26.6000',
   '4. close': '26.6000',
   '5. volume': '0'},
  '2021-08-12': {'1. open': '26.5800',
   '2. high': '26.5800',
   '3. low': '26.5800',
   '4. close': '26.5800',
   '5. volume': '0'}}}

<a id='9'></a>
## Treasury Yield

In [ ]:
treasury_yield = {
    "function": "TREASURY_YIELD",
    "interval": "weekly", # daily, monthly
    "maturity": "3month", # OPTIONAL 5year, 10year, 30year
    "apikey": key
}

<a id='10'></a>
## Stock Fundamentals

In [1]:
ticker = "IBM"
url = 'https://www.alphavantage.co/query?function=OVERVIEW&symbol='+ticker+'&apikey={key}'
r = requests.get(url)
data = r.json()

NameError: name 'requests' is not defined

<a id='11'></a>
## Financials

In [ ]:
document = 'INCOME_STATEMENT' # BALANCE_SHEET, CASH_FLOW
url = 'https://www.alphavantage.co/query?function='+document+'&symbol=IBM&apikey=demo'
r = requests.get(url)
data = r.json()

<a id='12'></a>
## Realtime Data

In [15]:
def get_live_updates(symbol):
    api_key = key
    api_url = f'https://www.alphavantage.co/query?function=GLOBAL_QUOTE&symbol={symbol}&apikey={api_key}'
    raw_df = requests.get(api_url).json()
    attributes = {'attributes':['symbol', 'open', 'high', 'low', 'price', 'volume', 'latest trading day', 'previous close', 'change', 'change percent']}
    attributes_df = pd.DataFrame(attributes)
    values = []
    for i in list(raw_df['Global Quote']):
        values.append(raw_df['Global Quote'][i])
    values_dict = {'values':values}
    values_df = pd.DataFrame(values).rename(columns = {0:'values'})
    frames = [attributes_df, values_df]
    df = pd.concat(frames, axis = 1, join = 'inner').set_index('attributes')
    return df

ibm_updates = get_live_updates('IBM')
ibm_updates

                        values
attributes
symbol                     IBM
open                  130.0000
high                  130.9600
low                   129.5200
price                 130.6300
volume                 3649044
latest trading day  2021-12-23
previous close        129.7500
change                  0.8800
change percent         0.6782%

<a id='13'></a>
## Economic Indicators

In [91]:
gdp = {
    "function": "REAL_GDP",
    "interval": "annual", # quarterly
    "apikey": key
}

federal_funds_rate = {
    "function": "FEDERAL_FUNDS_RATE",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
cpi = {
    "function": "CPI",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
inflation = {
    "function": "INFLATION",
    "interval": "weekly", # daily, monthly
    "apikey": key
}
consumer_sentiment = {
    "function": "CONSUMER_SENTIMENT",
    "apikey": key
}
unemployment = {
    "function": "UNEMPLOYMENT",
    "apikey": key
}
r = requests.get(url, params=unemployment) # REPLACE 'params' with desired dict
data = r.json()
crypto_df = pd.DataFrame(data['data'])
crypto_df = crypto_df.set_index("date")
crypto_df

           value
date
2021-11-01   4.2
2021-10-01   4.6
2021-09-01   4.8
2021-08-01   5.2
2021-07-01   5.4
...          ...
1948-05-01   3.5
1948-04-01   3.9
1948-03-01   4.0
1948-02-01   3.8
1948-01-01   3.4

[887 rows x 1 columns]

### Financials

In [ ]:
document = 'INCOME_STATEMENT' # BALANCE_SHEET, CASH_FLOW
url = 'https://www.alphavantage.co/query?function='+document+'&symbol=IBM&apikey=demo'
r = requests.get(url)
data = r.json()

### Technical Indicators

In [101]:
# Lots to cover here, I've listed the most popular below
popular_ti = {
    "function": "ADX", # REPLACE: EMA, RSI, ADX, SMA
	"symbol": "IBM",
	"interval": "weekly",
	"time_period": "10",
	"series_type": "open",
    "apikey": key
}

r = requests.get(url, params=popular_ti)
data = r.json()
crypto_df = pd.DataFrame(data['Technical Analysis: ADX']).T # REPLACE to match the function
crypto_df

                ADX
2021-12-23  23.8256
2021-12-17  24.8406
2021-12-10  26.8894
2021-12-03  29.1061
2021-11-26  28.1847
...             ...
2000-04-20  28.4723
2000-04-14  31.4184
2000-04-07  34.8993
2000-03-31  34.9256
2000-03-24  34.1448

[1136 rows x 1 columns]

## Extracting stock data (historical close price) for multiple stocks

In [ ]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
close_prices = pd.DataFrame()
api_call_count = 1
ts = TimeSeries(key=key, output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    close_prices[ticker] = data["close"]
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [ ]:
close_prices

## Extracting OHLCV data for multiple stocks

In [ ]:
all_tickers = ["AAPL","MSFT","CSCO","AMZN","GOOG",
               "FB","BA","MMM","XOM","NKE","INTC"]
ohlv_dict = {}
api_call_count = 1
ts = TimeSeries(key=open(key_path,'r').read(), output_format='pandas')
start_time = time.time()
for ticker in all_tickers:
    data = ts.get_intraday(symbol=ticker,interval='1min', outputsize='compact')[0]
    api_call_count+=1
    data.columns = ["open","high","low","close","volume"]
    data = data.iloc[::-1]
    ohlv_dict[ticker] = data
    if api_call_count==5:
        api_call_count = 1
        time.sleep(60 - ((time.time() - start_time) % 60.0))

In [ ]:
ohlv_dict['AMZN']