In [2]:
import FundamentalAnalysis as fa
import financedatabase as fd
import pandas as pd
ticker = "TSLA"
api_key = "7b95034d43c6ccb530b841102ac7bc8f"

The below command lists all options available to be queried

In [19]:
# Options: 'cryptocurrencies', 'currencies', 'equities', 'etfs' or 'funds'
options = fd.show_options('cryptocurrencies', equities_selection=None, country=None, sector=None, industry=None)
options = pd.DataFrame(options)
options

        0
0    AAVE
1    ABBC
2     ACH
3     ACT
4     ADA
..    ...
346   ZIL
347   ZNN
348   ZRX
349   ZVC
350   ZYN

[351 rows x 1 columns]

In [6]:
# Show the available companies
companies = fa.available_companies(api_key)
companies.sort_values('symbol')

,name,price,exchange,exchangeShortName,type
symbol,,,,,
000001.SZ,"Ping An Bank Co., Ltd.",16.82,Shenzhen,SHZ,stock
000002.SZ,"China Vanke Co., Ltd.",19.12,Shenzhen,SHZ,stock
000004.SZ,Shenzhen GuoHua Network Security Technology Co...,19.60,Shenzhen,SHZ,stock
000005.SZ,Shenzhen Fountain Corporation,2.29,Shenzhen,SHZ,stock
000006.SZ,"Shenzhen Zhenye (Group) Co.,Ltd.",4.38,Shenzhen,SHZ,stock
...,...,...,...,...,...
ZYT.L,Zytronic plc,170.00,LSE,LSE,stock
ZYXI,"Zynex, Inc.",10.34,Nasdaq Capital Market,NASDAQ,stock
ZZLL,"ZZLL Information Technology, Inc.",0.23,Other OTC,MUTUAL_FUND,stock
ZZZ.TO,Sleep Country Canada Holdings Inc.,37.73,Toronto,TSX,stock
ZZZD.TO,BMO Tactical Dividend ETF Fund ETF,28.27,Toronto,TSX,etf

In [ ]:
# Supported exchanges
companies.exchange.unique()

In [5]:
# Company Profile
profile = fa.profile(ticker, api_key)
profile

Empty DataFrame
Columns: []
Index: []

In [ ]:
# Latest Quote
quotes = fa.quote(ticker, api_key)
quotes

In [4]:
# Analysts Recommendation/Ratings
ratings = fa.rating(ticker, api_key)
ratings

KeyError: "None of ['date'] are in the columns"

In [ ]:
# Obtain DCFs over time
dcf_annually = fa.discounted_cash_flow(ticker, api_key, period="annual")
dcf_quarterly = fa.discounted_cash_flow(ticker, api_key, period="quarter")

In [ ]:
dcf_annually

In [ ]:
dcf_quarterly

In [ ]:
# Balance Sheet statements
balance_sheet_annually = fa.balance_sheet_statement(ticker, api_key, period="annual")
balance_sheet_quarterly = fa.balance_sheet_statement(ticker, api_key, period="quarter")

In [ ]:
balance_sheet_annually

In [ ]:
# Income Statements
income_statement_annually = fa.income_statement(ticker, api_key, period="annual")
income_statement_quarterly = fa.income_statement(ticker, api_key, period="quarter")

In [ ]:
income_statement_quarterly

In [ ]:
# Cash Flow Statements
cash_flow_statement_annually = fa.cash_flow_statement(ticker, api_key, period="annual")
cash_flow_statement_quarterly = fa.cash_flow_statement(ticker, api_key, period="quarter")

In [ ]:
cash_flow_statement_annually

In [ ]:
# Key Metrics
key_metrics_annually = fa.key_metrics(ticker, api_key, period="annual")
key_metrics_quarterly = fa.key_metrics(ticker, api_key, period="quarter")

In [ ]:
key_metrics_quarterly

In [ ]:
# Large set of in-depth ratios
financial_ratios_annually = fa.financial_ratios(ticker, api_key, period="annual")
financial_ratios_quarterly = fa.financial_ratios(ticker, api_key, period="quarter")
financial_ratios_quarterly

In [ ]:
# Growth of the company
growth_annually = fa.financial_statement_growth(ticker, api_key, period="annual")
growth_quarterly = fa.financial_statement_growth(ticker, api_key, period="quarter")
growth_quarterly

In [ ]:
# General stock data
stock_data = fa.stock_data(ticker, period="ytd", interval="1d")

# Detailed stock data
stock_data_detailed = fa.stock_data_detailed(ticker, api_key, begin="2000-01-01", end="2020-01-01")

### Cryptocurrencites