# Importing Data from OANDA

## Connecting to the API

In [1]:
import pandas as pd
import tpqoa

In [2]:
api = tpqoa.tpqoa("oanda.cfg")

In [3]:
# api.get_instruments()

ResponseNoField: 400 response for GET https://api-fxpractice.oanda.com:443/v3/accounts/zcoriarty/instruments does not have field 'instruments' (contains 'errorMessage')


## Getting Historical Data - Currency

In [6]:
api.get_history("US30_USD", "2018-09-01", "2019-09-01", "D", "B")

                           o        h        l        c  volume  complete
time
2018-09-02 21:00:00  26017.9  26075.1  25956.4  26022.4    5839      True
2018-09-03 21:00:00  26019.4  26063.6  25813.8  25991.7   24644      True
2018-09-04 21:00:00  25988.5  26023.4  25839.5  25981.0   27660      True
2018-09-05 21:00:00  25969.4  26098.1  25892.8  26014.7  159482      True
2018-09-06 21:00:00  26006.2  26035.9  25831.3  25940.9  190600      True
...                      ...      ...      ...      ...     ...       ...
2019-08-25 21:00:00  25416.0  25977.0  25259.8  25918.0   84639      True
2019-08-26 21:00:00  25926.5  26061.5  25708.2  25758.6   58151      True
2019-08-27 21:00:00  25747.1  26039.1  25616.8  25987.1   52829      True
2019-08-28 21:00:00  25990.6  26402.7  25925.8  26358.0   42311      True
2019-08-29 21:00:00  26322.8  26554.3  26296.2  26393.1   43515      True

[259 rows x 6 columns]

In [5]:
api.get_history("EUR_USD", "2018-09-01", "2019-09-01", "D", "B")

                           o        h        l        c  volume  complete
time
2018-09-02 21:00:00  1.15955  1.16273  1.15886  1.16174   34705      True
2018-09-03 21:00:00  1.16168  1.16188  1.15296  1.15810   46399      True
2018-09-04 21:00:00  1.15776  1.16400  1.15422  1.16298   55753      True
2018-09-05 21:00:00  1.16298  1.16587  1.16045  1.16215   51070      True
2018-09-06 21:00:00  1.16203  1.16490  1.15491  1.15491   62733      True
...                      ...      ...      ...      ...     ...       ...
2019-08-25 21:00:00  1.11497  1.11632  1.10937  1.10952   25073      True
2019-08-26 21:00:00  1.10986  1.11154  1.10852  1.10892   14568      True
2019-08-27 21:00:00  1.10892  1.10975  1.10727  1.10768   13132      True
2019-08-28 21:00:00  1.10773  1.10912  1.10414  1.10556   15819      True
2019-08-29 21:00:00  1.10556  1.10597  1.09625  1.09855   17510      True

[258 rows x 6 columns]

In [ ]:
api.get_history("EUR_USD", "2018-09-01", "2019-09-01", "D", "A")

## Setting the Frequency (high-frequency Intraday)

In [ ]:
api.get_history("EUR_USD", "2019-08-01", "2019-09-01", "M1", "B")

In [ ]:
api.get_history("EUR_USD", "2019-09-01", "2019-09-04", "S5", "B")

In [ ]:
api.get_history("EUR_USD", "2019-09-01", "2019-09-04", "S30", "B")

## Streaming high-frequency real-time Data

In [ ]:
api.stream_data('EUR_USD', stop=10)

In [ ]:
api.stop_stream()